{% extends 'base.html' %}
{% load static %}
{% block title %}Add User{% endblock title %}
{% load crispy_forms_tags %}

{% block extracss %}
<style>
    #f{
        display: none;
    }
    #college{
        display: none;
    }
    #dept{
        display: none;
    }
</style>
{% endblock extracss %}
{% block breadcrumb %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb bg-primary">
    <li class="breadcrumb-item"><a href="{% url 'indexPage' %}" class="text-dark">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'manageUsers' %}" class="text-dark">Users</a></li>
    <li class="breadcrumb-item active" aria-current="page">Add User</li>
  </ol>
</nav>
{% endblock breadcrumb %}
{% block content %}

<div class = "container-fluid">
    <h1 class="subTitle">Users</h1>
    <h1 class="title">Add User</h1>
    <div class = "container table-container mt-4">
        <h1 class="table-header p-2"><i class="fa-solid fa-plus mr-2"></i></i>Add User</h2>
        <div class = "row bg-white ">
            <div class = "col my-4 px-5">
                {% if form.errors %}

                {% endif %}
                <form method="POST" action="">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col">
                            <label class="form-label">User Type</label>
                            <select class="form-select" id="role" name="role" onChange="update()">
                                <option value="none" selected disabled hidden>Select a Role</option>
                                <option value="faculty">Faculty</option>
                                <option value="staff">Staff</option>
                                <option value="ocs">OCS</option>
                                <option value="adpd">ADPD</option>
                                <option value="ao">AO</option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col my-3 text-center">
                            <button class="btn btn-success" id="show">Next<i class="fa-solid fa-arrow-right ml-2"></i></button>
                        </div>
                    </div>

                {% if form.errors %}
                    <div class ="row" >
                {% else %}
                    <div class ="row" id="f" >
                {% endif %}
                        <div class="row">
                            <div class="col-4 pe-4">
                                <div class="mb-3">
                                    {{form.first_name | as_crispy_field}}
                                </div>
                                <div class="mb-3">
                                    {{form.last_name | as_crispy_field}}
                                </div>
                                <div class="mb-3">
                                    {{form.username| as_crispy_field}}
                                </div>
                            </div>

                            <div class="col-4 pe-4">
                                <div class="mb-3">
                                    {{form.email | as_crispy_field}}
                                </div>
                                <div class="mb-3">
                                    {{form.password1 | as_crispy_field}}
                                </div>
                                <div class="mb-3">
                                    {{form.password2 | as_crispy_field}}
                                </div>
                            </div>
                            <div class="col-4 pe-4">
                                <div class="mb-3" id="college">
                                    {{form.college | as_crispy_field}}
                                </div>
                                <div class="mb-3" id="dept">
                                    {{form.department | as_crispy_field}}
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center mt-3 ms-15">
                            <div class="col col-sm-auto">
                                <button class="btn btn-success" type="submit"><i class="fa-solid fa-floppy-disk mr-2"></i>Save Changes</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


</div>

{% endblock content %}

{% block extrascripts %}
<script>
    function update(){
        const btn = document.getElementById('show');

        // variables to control the display of forms
        const select = document.getElementById('role');
        const college = document.getElementById('college');
        const dept = document.getElementById('dept');
        const option = select.options[select.selectedIndex].value;

        const form = document.getElementById('f');

        // show form if role is not empty
        if (option !== 'none'){
            btn.addEventListener('click', () => {
                form.style.display = 'block';

                college.style.display = 'block';
                if(option === 'faculty' || option === 'staff'){
                    dept.style.display = 'block';
                }
                else{
                    dept.style.display = 'none';
                }

            });
        }
    }

</script>

{% endblock extrascripts %}
