{% extends 'base.html' %}
{% load static %}
{% block title %}{{department.name}}{% endblock title %}
{% load crispy_forms_tags %}

{% block extracss %}
{% endblock extracss %}
{% block breadcrumb %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb mt-3 ms-4 bg-body">
    <li class="breadcrumb-item"><a href="{% url 'indexPage' %}" class="text-dark">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'manageCollege' %}" class="text-dark">Manage Colleges</a></li>
    <li class="breadcrumb-item"><a href="{% url 'adminCollegeView' college.slug %}" class="text-dark">{{college.name}}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{department.name}}</li>
  </ol>
</nav>
{% endblock breadcrumb %}

{% block content %}
<div class = "container-fluid">
    <h5 class="pt-4"  style="text-align:center;">{{department.name}}</h5>
    <h1 class="py-4 px-4" style="text-align:center; font-size:50px; color:#76090C">Users</h1>
<table id='user-table' class="table">
    <thead>
      <tr>
        <th scope="col">No.</th>
        <th scope="col">Username</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Role</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for user in deptUsers %}
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td>{{u.username}}</td>
        <td>{{u.get_full_name}}</td>
        <td>{{u.email}}</td>
        <td>{{u.get_user_type_display}}</td>
        <td>
            <button type="button" class="update bs-modal btn btn-sm btn-warning btn-sm" data-form-url="{% url 'editUser' u.id %}"><i class="fa-solid fa-pen-to-square"></i></button>
            <button type="button" class="pass bs-modal btn btn-sm btn-secondary btn-sm" data-form-url="{% url 'changePass' u.id %}"><i class="fa-solid fa-key"></i></button>
            <button type="button" class="delete bs-modal btn btn-sm btn-danger btn-sm" data-form-url="{% url 'deleteUser' u.id %}"><i class="fa-solid fa-trash-can"></i> </button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

</div>

{% endblock content %}
