<!DOCTYPE html>
<html lang="en">
	{% load static %}
    <head>
        <title>Login | Online Booking System</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
        {%include 'css_modules.html'%}
        <link rel="stylesheet" href="{% static 'css/accounts.css' %}" />
        <link rel="stylesheet" href="{% static 'css/login.css'%}">
        <link rel="stylesheet" href="{% static 'css/styleguide.css'%}">
    </head>

    <body>
        <div class="finalized-login-page screen">
        <img class="image-panel" src="{{MEDIA_URL}}login-image.png" alt="Image-Panel"
                style="width:30%; height: 50%; margin-left: 15%"/>
        <div class="form-panel" style="max-width:30%; height: 40%;">
        <img src="{{MEDIA_URL}}Logo_Navbar.png"
                style="filter: hue-rotate(-48deg) saturate(6) grayscale(65%) drop-shadow(0 0 0 black);
                height: 20%;
                width: 20%;
                margin-bottom:-28%;
                margin-top:-15%;"/>
        {%if iserror%}
                <div class="alert alert-danger">
        <strong>{{ error|escape }}</strong>
                </div>
        {%endif%}
        <form action="#" method="post" class="login-form">
        {% csrf_token %}
        <div class="login-text">
        <h1 class="login-title montserrat-normal-falu-red-50px">
        <span class="montserrat-normal-falu-red-50px" style="color:var(--falu-red); font-size: x-large;">Login</span>
        </h1>
        <span class="montserrat-normal-black-20px"
                style="font-size: medium; margin-top: -10%;">
                Sign in to your account</span>
        </p>
        </div>
        <div class="form">
        <div class="input-fields" style="margin-top: -10%;">
        <div class="username">
        <img
                class="user-3-fill"
                src="{{MEDIA_URL}}user-3-fill.png"
                alt="user-3-fill"
        />
        <div class="username-1 montserrat-normal-gunsmoke-15px"><div class="form-group">
        <span class="montserrat-normal-gunsmoke-15px">
        <input type="text" name="username" class="form-control" placeholder="Username">
        </span>
                </div>
        </div>
        </div>
        <div class="username-2">
        <img
                class="key-2-fill"
                src="{{MEDIA_URL}}key-2-fill.png"
                alt="key-2-fill"
        />
        <div class="password montserrat-normal-gunsmoke-15px">
        <div class="form-group">
        <span class="montserrat-normal-gunsmoke-15px">
                <input type="password" name="password" class="form-control" placeholder="Password">
        </span>
        </div>
        </div>
        <img
                class="eye-close-line"
                src="{{MEDIA_URL}}eye-close-line.png"                
                alt="eye-close-line"
        />
        </div>
        </div>
        <div class="other-options">
        <div class="stay-signed-in"></div>
        <div class="forgot-password-button">
        <div class="forgot-password valign-text-middle montserrat-normal-falu-red-12px">
        <a href="forgot-password">
        <span><span class="montserrat-normal-falu-red-l2px">Forgot Password?</span></span></a>
        </div>
        </div>
        </div>
        </div>
        <div class="form-group" style="margin-top: -10%">
        <button type="submit" class="login-button" style="height:20%; width: 25%; margin-top: -20%;">
        <div class="login montserrat-normal-white-15px">
        <span class="montserrat-normal-white-15px">LOGIN</span>
        </div>
        </button>
        </div>
        <div class="frame-16">
        <div class="divider" style="height:20%; margin-top: -10%; margin-bottom: -10%;">
        <img
        class="line"
        src="{{MEDIA_URL}}Line 1.png"
        alt="Line 1"/>
        <div class="or valign-text-middle montserrat-normal-fuscous-gray-15px">
        <span><span class="montserrat-normal-fuscous-gray-15px">or</span></span>
        </div>
        <img
        class="line"
        src="{{MEDIA_URL}}Line 2.png"
        alt="Line 2"
        />
        </div>
        <div class="other-buttons" style="margin-left: -6%; gap: 5%">
        <a href="#" class="google btn"><button class="login-with-google-button"
                style="width:30%; height:10%">
        <img
                class="google-fill"
                src="{{MEDIA_URL}}google-fill.png"
                alt="google-fill"
        />
        <div class="login-with-google valign-text-middle montserrat-normal-fuscous-gray-15px">
                <span><span class="montserrat-normal-fuscous-gray-15px">Login with Google</span></span>
        </div></button></a>
        <a href="#" class="guest btn"><button class="login-as-guest-button"
                style="width:30%; height:10%">
        <img
                class="vector"
                src="{{MEDIA_URL}}user-search-fill.png"
                alt="Vector"
        />
        <div class="login-as-guest valign-text-middle montserrat-normal-fuscous-gray-15px">
                <span><span class="montserrat-normal-fuscous-gray-15px">Login as Guest</span></span>
        </div></button></a>
        </div>
        </div>
        </form>
        </div>
        </div>
        {% include 'script_modules.html' %}
        </body>
</html>