{% extends 'base.html' %}
{% load static %}
{% block title %}Manage Users{% endblock title %}
{% load crispy_forms_tags %}

{% block extracss %}
{% endblock extracss %}
{% block breadcrumb %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb bg-primary">
    <li class="breadcrumb-item"><a href="{% url 'indexPage' %}" class="text-dark">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'manageCollege' %}" class="text-dark">Colleges</a></li>
    <li class="breadcrumb-item active" aria-current="page">Users</li>
  </ol>
</nav>
{% endblock breadcrumb %}

{% block content %}
<!--Modals-->
<div class="modal fade" tabindex="-1" role="dialog" id="modal">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">

    </div>
  </div>
</div>

<div class = "container-fluid">
  <h1 class="subTitle">Building</h1> <!--Get Building Name-->
  <h1 class="title">Users</h1>

  <div class = "container-fluid mt-4 filter-container">
    <header class="table-header p-2"><i class="fa-solid fa-filter mr-2"></i>Filter by</header>
    <div class="row bg-white p-3 ">
      <div class="col align-self-center">
        <form method="POST" action="">
          {% csrf_token %}
          <div class="row">
              <div class="col-md-4 ">
                  <label class="form-label filter-label">User Type</label>
                  <select class="form-select" id="role" name="role">
                      <option value="none">--------</option>
                      <option value="faculty">Faculty</option>
                      <option value="staff">Staff</option>
                      <option value="ocs">OCS</option>
                      <option value="adpd">ADPD</option>
                      <option value="ao">AO</option>
                  </select>

              </div>
              <div class="col-md-4 mt-4 pt-2">
                <button type="submit" class='btn btn-success'>Filter</button>
              </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class = "container-fluid mt-4 table-container">
    <header class="table-header p-2"><i class="fa-solid fa-rectangle-list mr-2"></i>List of Users</header>
    <div class="row bg-white pt-3 pr-3 pl-3 pb-0">
      {% include "accounts/user-table.html" %}
    </div>
    <div class = 'row bg-white p-3'>
      <a class='btn btn-warning mr-auto ml-auto' role='button' href = "{% url 'AddUserPage' %}"><i class="fa-solid fa-plus mr-2"></i>Add User</a>
    </div>
  </div>


</div>



{% endblock content %}

{% block extrascripts %}
<script type="text/javascript">
$(function() {
  var asyncSuccessMessageUpdate = [
    "<div ",
    "style='position:fixed;top:0;z-index:10000;width:100%;border-radius:0;' ",
    "class='alert alert-icon alert-success alert-dismissible fade show mb-0' role='alert'>",
    "Success: User was updated.",
    "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>",
    "<span aria-hidden='true'>&times;</span>",
    "</button>",
    "</div>",
    "<script>",
    "$('.alert').fadeTo(2000, 500).slideUp(500, function () {$('.alert').slideUp(500).remove();});",
    "<\/script>"
  ].join("");

  function deleteUserModalForm() {
    $(".delete").each(function () {
        $(this).modalForm({formURL: $(this).data("form-url"), isDeleteForm: true});
    });
  }
  deleteUserModalForm();

  function updateUserModalForm() {

    $(".update").each(function () {

      $(this).modalForm({
        formURL: $(this).data("form-url"),
        asyncUpdate: true,
        asyncSettings: {
          closeOnSubmit: false,
          successMessage: asyncSuccessMessageUpdate,
          dataUrl: "users/",
          dataElementId: "#user-table",
          dataKey: "table",
          addModalFormFunction: reinstantiateModalForms
        }
      });
    });
  }
  updateUserModalForm();

  var asyncSuccessMessageChange = [
    "<div ",
    "style='position:fixed;top:0;z-index:10000;width:100%;border-radius:0;' ",
    "class='alert alert-icon alert-success alert-dismissible fade show mb-0' role='alert'>",
    "Success: Password was changed.",
    "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>",
    "<span aria-hidden='true'>&times;</span>",
    "</button>",
    "</div>",
    "<script>",
    "$('.alert').fadeTo(2000, 500).slideUp(500, function () {$('.alert').slideUp(500).remove();});",
    "<\/script>"
  ].join("");


  function updateUserPassModalForm() {

    $('.pass').each(function () {
      $(this).modalForm({
        formURL: $(this).data("form-url"),
        asyncUpdate: true,
        asyncSettings: {
          closeOnSubmit: false,
          successMessage: asyncSuccessMessageUpdate,
          dataUrl: "users/",
          dataElementId: "#user-table",
          dataKey: "table",
          addModalFormFunction: reinstantiateModalForms
        }
      });
    });

  }
  updateUserPassModalForm();

  function reinstantiateModalForms(){
    updateUserModalForm();
    deleteUserModalForm();
    updateUserPassModalForm();
  }
})
</script>
{% endblock extrascripts %}
