<table id='user-table' class="table">
    <thead><div class="table-title-1">
      <div class="colleges-title">
        <div class="list-of-users montserrat-normal-white-25px"
        style="font-size: 20px; color: white;">
      <i class="fa fa-user"></i> LIST OF USERS
    </div></div></div>
      <tr class="tr-user">
        <th scope="col" class="th-title">ID</th>
        <th scope="col" class="th-title">Username</th>
        <th scope="col" class="th-title">Name</th>
        <th scope="col" class="th-title">Email</th>
        <th scope="col" class="th-title">Role</th>
        <th scope="col" class="th-title"></th>
      </tr>
    </thead>
    <tbody>
      {% for u in users %}
      <tr>
        <th scope="row" class="tr-user">{{forloop.counter}}</th>
        <td>{{u.username}}</td>
        <td>{{u.get_full_name}}</td>
        <td>{{u.email}}</td>
        <td>{{u.get_user_type_display}}</td>
        <td>
            <button type="button" class="update bs-modal btn btn-sm btn-warning btn-sm" data-form-url="{% url 'editUser' u.id %}"><i class="fa-solid fa-pen-to-square"></i></button>
            <button type="button" class="pass bs-modal btn btn-sm btn-secondary btn-sm" data-form-url="{% url 'changePass' u.id %}"><i class="fa-solid fa-key"></i></button>
            <button type="button" class="delete bs-modal btn btn-sm btn-danger btn-sm" data-form-url="{% url 'deleteUser' u.id %}"><i class="fa-solid fa-trash-can"></i> </button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class = 'text-right'>
    <a class='btn btn-warning mb-4 mx-4' role='button' href = "{% url 'AddUserPage' %}"><i class="fa-solid fa-plus"></i> Add User</a>
  </div>