{% extends 'base.html' %}
{% load static %}
{% block title %}Manage Users{% endblock title %}
{% load crispy_forms_tags %}

{% block extracss %}
{% endblock extracss %}
{% block breadcrumb %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb mt-3 ms-4 bg-body">
    <li class="breadcrumb-item"><a href="{% url 'indexPage' %}" class="text-dark">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Manage Users</li>
  </ol>
</nav>
{% endblock breadcrumb %}

{% block content %}
<!--Modals-->
<div class="modal fade" tabindex="-1" role="dialog" id="modal">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
    
    </div>
  </div>
</div>

<div class = "container-fluid">
    <h2 class="py-4 px-4">Manage Users</h2>
      <form method="POST" action="">
        {% csrf_token %}
        <div class="row">
          <div class="table-title">
            <div class="add-title">
              <i class="fa fa-filter"></i>
              <div class="filter-by montserrat-normal-white-25px">
                <span class="montserrat-normal-white-25px">FILTER BY</span>
            </div></div></div>
            <div class="col-md-4 ">
                <label class="form-label">Role</label>
                <select class="form-select" id="role" name="role">
                    <option value="none">--------</option>
                    <option value="faculty">Faculty</option>
                    <option value="staff">Staff</option>
                    <option value="ocs">OCS</option>
                    <option value="adpd">ADPD</option>
                    <option value="ao">AO</option>
                </select>
                
            </div>
            <div class="col-md-4 mt-4 pt-2">
              <button type="submit" class='btn btn-success'> Filter</button>
            </div>
        </div>
    </div>
    <div class = 'text-right'>
      <a class='btn btn-warning mb-4 mx-4' role='button' href = "{% url 'AddUserPage' %}"><i class="fa-solid fa-plus"></i> Add User</a>
    </div>
    {% include "accounts/user-table.html" %}
    
</div>



{% endblock content %}

{% block extrascripts %}
<script type="text/javascript">
$(function() {
  var asyncSuccessMessageUpdate = [
    "<div ",
    "style='position:fixed;top:0;z-index:10000;width:100%;border-radius:0;' ",
    "class='alert alert-icon alert-success alert-dismissible fade show mb-0' role='alert'>",
    "Success: User was updated.",
    "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>",
    "<span aria-hidden='true'>&times;</span>",
    "</button>",
    "</div>",
    "<script>",
    "$('.alert').fadeTo(2000, 500).slideUp(500, function () {$('.alert').slideUp(500).remove();});",
    "<\/script>"
  ].join("");
  
  function deleteUserModalForm() {
    $(".delete").each(function () {
        $(this).modalForm({formURL: $(this).data("form-url"), isDeleteForm: true});
    });
  }
  deleteUserModalForm();

  function updateUserModalForm() {

    $(".update").each(function () {

      $(this).modalForm({
        formURL: $(this).data("form-url"),
        asyncUpdate: true,
        asyncSettings: {
          closeOnSubmit: false,
          successMessage: asyncSuccessMessageUpdate,
          dataUrl: "users/",
          dataElementId: "#user-table",
          dataKey: "table",
          addModalFormFunction: reinstantiateModalForms
        }
      });
    });
  }
  updateUserModalForm();

  var asyncSuccessMessageChange = [
    "<div ",
    "style='position:fixed;top:0;z-index:10000;width:100%;border-radius:0;' ",
    "class='alert alert-icon alert-success alert-dismissible fade show mb-0' role='alert'>",
    "Success: Password was changed.",
    "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>",
    "<span aria-hidden='true'>&times;</span>",
    "</button>",
    "</div>",
    "<script>",
    "$('.alert').fadeTo(2000, 500).slideUp(500, function () {$('.alert').slideUp(500).remove();});",
    "<\/script>"
  ].join("");


  function updateUserPassModalForm() {
      
    $('.pass').each(function () {
      $(this).modalForm({
        formURL: $(this).data("form-url"),
        asyncUpdate: true,
        asyncSettings: {
          closeOnSubmit: false,
          successMessage: asyncSuccessMessageUpdate,
          dataUrl: "users/",
          dataElementId: "#user-table",
          dataKey: "table",
          addModalFormFunction: reinstantiateModalForms
        }
      });
    }); 
  
  }
  updateUserPassModalForm();

  function reinstantiateModalForms(){
    updateUserModalForm();
    deleteUserModalForm();
    updateUserPassModalForm();
  }
})
</script>
{% endblock extrascripts %}