{% extends 'base.html' %}
{% load static %}
{% block title %}Bookings{% endblock title %}
{% load crispy_forms_tags %}

{% block extracss %}
{% endblock extracss %}
{% block breadcrumb %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb mt-3 ms-4 bg-body">
    <li class="breadcrumb-item"><a href="#" class="text-dark">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Bookings</li>
  </ol>
</nav>
{% endblock breadcrumb %}

{% block content %}
<div class = "container w-70">
    <h2 class="py-4 px-4">Booking Number {{booking.id}}</h2>
    <div class= "row px-4 pb-3 justify-content-between">
      <div class="col-6 ">
      <h4>Requested By: {{booking.booker.getFullName}}</h4>
      {% if booking.isApproved%}
        <h5>Approved: Yes</h5>
      {% else %}
        <h5>Approved: No</h5>
      {% endif %}
      <h5>Date Filed: {{booking.date_created|date:"Y-m-d"}}</h5>
      </div>
      {% if booking.dept_or_office %}
        <div class= 'col-4'>
          <h5>Dept/Office: {{booking.dept_or_office}}</h5>
          <h5>Subject: {{booking.subject}}</h5>
         
        </div>
      {% else %}
        <div class= 'col-4'>
          <h5>Organization: {{booking.organization}}</h5>
          <h5>Adviser: {{booking.faculty}}</h5>
        </div>
      {% endif %}
    </div>

   {% include 'booking/booking-table.html' %}

      <div class= 'row'>

      {% if request.user.user_type == 5 %}
        <div class = 'col-4'>
          {% if not booking.isApproved %}
          <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#approveModal">
            Approve
          </button>
          {% else %}
          <h6 class='px-4'>Approved by: {{booking.approver}}</h6>
          <h6 class='px-4'>Date approved: {{booking.date_approved}}</h6>
          {% endif %}
        </div>

      {% elif request.user == booking.booker %}
      <div class = 'col-4'>
        {% if booking.isApproved %}
        <button type="button" class="btn btn-success" disabled>
          <i class="fa-solid fa-pen-to-square"></i> Edit
        </button> 
        <p>Already approved. Unable to edit.</p>
        {% else %}
        <button type="button" class="update bs-modal btn btn-sm btn-warning btn-sm"><i class="fa-solid fa-pen-to-square"></i> Edit </button>
        {%endif%}  
      </div>

      {% endif %}

        <!-- Modal for approval -->
        <div class="modal fade" id="approveModal" tabindex="-1" aria-labelledby="approveModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="approveModalLabel">Booking Approval</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                Approve this booking?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <form method='POST'>
                  {% csrf_token %}
                  <input class = "btn btn-success" type="submit" value="Approve" name="approve">
                </form>
              </div>
            </div>
          </div>
        </div>

        <!-- Modal for editing -->
        <div class="modal fade" tabindex="-1" role="dialog" id="modal">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
            
            </div>
          </div>
        </div>

</div>



{% endblock content %}

{% block extrascripts %}
<script>
$(function(){

    function updateBookingModalForm() {

      $('.update').modalForm({
        formURL: "{% url 'editBooking' booking.id%}",
      });
    }
    updateBookingModalForm();

    function reinstantiateModalForms(){
      updateBookingModalForm();
    }
})

</script>
{% endblock extrascripts %}