{% extends 'base.html' %}
{% load static %}
{% block title %}Bookings{% endblock title %}
{% load crispy_forms_tags %}

{% block extracss %}
{% endblock extracss %}
{% block breadcrumb %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb bg-primary">
    <li class="breadcrumb-item"><a href="{% url 'indexPage' %}" class="text-dark">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'viewBookings' %}" class="text-dark">Bookings</a></li>
    <li class="breadcrumb-item active" aria-current="page">Booking Details</li>
  </ol>
</nav>
{% endblock breadcrumb %}

{% block content %}
<div class = "container w-70">
    <h2 class="py-4 px-4">Requested By: {{booking.booker.getFullName}}</h2>
    <div class= "row px-4 pb-3 justify-content-between">
      <div class="col-6 ">

      {% if booking.isApproved == True%}
        <h4>Approved: Yes</h4>
      {% elif booking.isApproved == False%}
        <h4>Approved: No</h4>
      {% else %}
        <h4>Approved: Not Yet</h4>
      {% endif %}
      <h4>Date Filed: {{booking.date_created|date:"F t Y"}}</h4>
      </div>
      {% if booking.dept_or_office %}
        <div class= 'col-4'>
          <h4>Dept/Office: {{booking.dept_or_office}}</h4>
          <h4>Subject: {{booking.subject}}</h4>

        </div>
      {% else %}
        <div class= 'col-4'>
          <h5>Organization: {{booking.organization}}</h5>
          <h5>Adviser: {{booking.faculty}}</h5>
        </div>
      {% endif %}
    </div>

   {% include 'booking/booking-table.html' %}

      <div class= 'row'>

      {% if request.user.user_type == 4 %}
        <div class = 'col-4'>
          {% if booking.isApproved ==  none or booking.isApproved == False %}
          <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#approveModal">
            Approve
          </button>

            {% if booking.isApproved == False %}
            <button type="button" class="btn btn-danger ms-1" data-bs-toggle="modal" data-bs-target="#rejectModal" disabled>
              Reject
            </button>
            {% else %}
            <button type="button" class="btn btn-danger ms-1" data-bs-toggle="modal" data-bs-target="#rejectModal">
              Reject
            </button>
            {% endif %}

          {% else %}
          <h6 class='px-4'>Approved by: {{booking.approver}}</h6>
          <h6 class='px-4'>Date approved: {{booking.date_approved}}</h6>

          {% endif %}
        </div>

      {% elif request.user == booking.booker or request.user.user_type == none %}
      <div class = 'col-4'>
        {% if booking.isApproved %}
        <button type="button" class="btn btn-success" disabled>
          <i class="fa-solid fa-pen-to-square"></i> Edit
        </button>
        <p>Already approved. Unable to edit.</p>
        <h6 class='px-4 pt-2'>Approved by: {{booking.approver}}</h6>
        <h6 class='px-4'>Date approved: {{booking.date_approved}}</h6>
        {% else %}
        <button type="button" class="update bs-modal btn btn-sm btn-warning btn-sm"><i class="fa-solid fa-pen-to-square"></i> Edit </button>
        {%endif%}
      </div>

      {% endif %}

        <!-- Modal for approval -->
        <div class="modal fade" id="approveModal" tabindex="-1" aria-labelledby="approveModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="approveModalLabel">Booking Approval</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                Approve this booking?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <form method='POST'>
                  {% csrf_token %}
                  <input class = "btn btn-success" type="submit" value="Approve" name="approve">
                </form>
              </div>
            </div>
          </div>
        </div>

        <!-- Modal for rejection -->
        <div class="modal fade" id="rejectModal" tabindex="-1" aria-labelledby="approveModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="approveModalLabel">Booking Rejection</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                Reject this booking?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <form method='POST'>
                  {% csrf_token %}
                  <input class = "btn btn-danger" type="submit" value="Reject" name="reject">
                </form>
              </div>
            </div>
          </div>
        </div>

        <!-- Modal for editing -->
        <div class="modal fade" tabindex="-1" role="dialog" id="modal">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">

            </div>
          </div>
        </div>

</div>



{% endblock content %}

{% block extrascripts %}
<script>
$(function(){

    function updateBookingModalForm() {

      $('.update').modalForm({
        formURL: "{% url 'editBooking' booking.id%}",
      })
    };
    updateBookingModalForm();

    function reinstantiateModalForms(){
      updateBookingModalForm();
    }
})

</script>
{% endblock extrascripts %}
