{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock title  %}</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!-- scripts and css -->
        {% include 'css_modules.html' %}
        {% block extracss %}
        {% endblock extracss %}

    </head>
    <body>
        <div class="wrapper d-flex align-items-stretch">
            <nav id="sidebar" class="active">
                <h1><a href="{% url 'indexPage' %}" class="logo mt-2 pt-2">UPM</a></h1>
                <h1 class="name">Room Booking</h1>
                <ul class="list-unstyled components mb-5">
                    <li class="active">
                        <a href="{% url 'dashBoardPage' %}"><i class="fa fa-home"></i> <span class="link_label">Home</span></a>
                    </li>
                    {% if request.user.user_type == none %}
                    <li>
                        <a data-bs-toggle="collapse" href="#collapseOptions" role="button" aria-expanded="false" aria-controls="collapseOptions" id="clps"><i class="fa fa-cogs"></i> <span class="link_label">Administrator</span></a>
                        <div class="collapse" id="collapseOptions">
                            <a class='sub ms-4' href="{% url 'manageUsers' %}"><i class="sub fa fa-user"></i><span class="link_label ms-2">Manage Users</span></a>
                            <a class='sub ms-4' href="{% url 'manageCollege' %}"><i class="sub fa-solid fa-school"></i></i><span class="link_label">Manage Colleges</span></a>
                            <a class='sub ms-4' href="{% url 'manageRooms' %}"><i class="sub fa-solid fa-door-closed"></i><span class="link_label ms-1">Manage Rooms</span></a>
                            <a class='sub ms-4' href="{% url 'manageTerm' %}"><i class="sub fa fa-calendar"></i><span class="link_label ms-2">Manage Terms</span></a>
                        <div>
                    </li>
                    {% else %}
                    <li>
                        <a href="#"><i class="fa-solid fa-calendar-day"></i> <span class="link_label ms-1">Booking</span></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa-solid fa-door-closed"></i> <span class="link_label">View Rooms</span></a>
                    </li>
                    {% endif %}
                </ul>

            </nav>

                <!-- Page Content  -->
            <div id="content" class="p-4 p-md-5 bg-body">

                <nav class="navbar navbar-expand-lg navbar-light bg-light border">
                    <div class="container-fluid">

                        <button type="button" id="sidebarCollapse" class="btn btn-dark">
                            <i class="fa fa-bars"></i>
                            <span class="sr-only">Toggle Menu</span>
                        </button>
                        <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <i class="fa fa-bars"></i>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="nav navbar-nav ml-auto">
                                <span class="fw-bolder mt-2">User: {{request.user}}</span>
                                <li class="nav-item dropdown me-3 pe-3">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                      Account
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                      <li><a class="dropdown-item" href="#">Profile</a></li>
                                      <li><hr class="dropdown-divider"></li>
                                      <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <main>
                    <div class="app-title">
                        {% block breadcrumb %}
                        {% endblock breadcrumb %}
                    </div>
                    {% block content %}
                    {% endblock content %}
                </main>
                
            </div>
		</div>
        <script>
        </script>
        {% include 'script_modules.html' %}  
        {% block extrascripts %}
        {% endblock extrascripts %}
    </body>
</html>
