{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock title  %}</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!-- scripts and css -->
        <link rel="stylesheet" href="{% static 'css/styleguide.css'%}">
        {% include 'css_modules.html' %}

        {% block extracss %}
        {% endblock extracss %}

    </head>
    <body>

        <div class="wrapper d-flex align-items-stretch">

            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container-fluid">
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <a href="{% url 'indexPage' %}" class="logo mr-3"><img src = "{{ MEDIA_URL }}Logo_Navbar.png" style="height: 60px; width: 60px;"></a>
                        <ul class="nav navbar-nav list-unstyled components">
                            <li class="mr-3">
                                <a href="{% url 'about' %}"><i class="fa-solid fa-circle-info mr-2"></i><span class="link_label">About ORBS</span></a>
                            </li>
                        </ul>

                        <ul class="nav navbar-nav ml-auto">
                            <ul class="list-unstyled components m-auto">
                                {% if request.user.is_authenticated %}
                                    {% if request.user.user_type == none %} <!-- Admin-->
                                    <li>
                                            <a class='sub ms-4' href="{% url 'manageCollege' %}"><i class="sub fa-solid fa-school"></i><span class="link_label ms-2">Colleges</span></a>
                                            <a class='sub ms-4' href="{% url 'manageTerm' %}"><i class="sub fa fa-calendar"></i><span class="link_label ms-2">Terms</span></a>
                                            <a class='sub ms-4' href="{% url 'manageUsers' %}"><i class="sub fa fa-users"></i><span class="link_label ms-2">Users</span></a> 
                                    </li>
                                    {% else %}
                                        {% if request.user.user_type == 3 %} <!-- OCS-->
                                        <li>
                                            <a class='sub ms-4' href="{% url 'uploadPage' %}"><i class="sub fa-solid fa-upload"></i><span class="link_label ms-2">Upload</span></a>
                                            <a class='sub ms-4' href="{% url 'viewBookings' %}"><i class="fa-solid fa-calendar-day"></i> <span class="link_label ms-2">Bookings</span></a>
                                            <a class='sub ms-4' href="{% url 'roomView' %}"><i class="sub fa-solid fa-door-closed"></i> <span class="link_label ms-2">View Rooms</span></a>
                                        </li>
                                        {%endif%}
                                        {% if request.user.user_type == 1 or request.user.user_type == 2 or request.user.user_type == 5 or request.user.user_type == 4 %} <!--Staff/Faculty-->
                                        <li>
                                            <a class='sub ms-4' href="{% url 'viewBookings' %}"><i class="fa-solid fa-calendar-day"></i> <span class="link_label ms-2">Bookings</span></a>
                                            <a class='sub ms-4' href="{% url 'roomView' %}"><i class="sub fa-solid fa-door-closed"></i> <span class="link_label ms-2">View Rooms</span></a>
                                        </li>
                                        {% endif %}
                                    {% endif %}
                                {% else %} <!--Guest-->
                                <li>
                                    <a class='sub ms-4' href="{% url 'manageCollege' %}"><i class="sub fa-solid fa-school"></i><span class="link_label ms-2">Colleges</span></a>
                                    <!-- <a class="ms-4" href="{% url 'viewBookings' %}"><i class="fa-solid fa-calendar-day"></i> <span class="link_label ms-1">Bookings</span></a> -->
                                    <a class="ms-4" href="{% url 'roomView' %}"><i class="fa-solid fa-door-closed"></i> <span class="link_label ms-1">View Rooms</span></a>
                                </li>
                                {% endif %}
                            </ul>
                            <span class="mt-2 ml-5">Logged in as <span style="text-transform: uppercase; font-weight: bold;">{{request.user}}</span></span>
                            {% if request.user.is_authenticated %}
                            <li class="nav-item dropdown me-3 pe-3">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="fa-solid fa-circle-user"></i>
                                    </a>

                                    <!--User Profile-->
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <li><strong style="text-transform:uppercase">{{request.user}}</strong></li>
                                        <li>{{request.user.email}}</li>
                                        <li><br></li>
                                        <div class="pl-3"style="text-align:left">
                                        <li><strong>User Type:</strong>
                                            {% if user.user_type != None %}
                                            {{user.get_user_type_display}}
                                            {% else %}
                                            Administrator
                                            {% endif %}</li>
                                        <li><strong>Name:</strong> {{request.user.get_full_name}}</li>
                                        <li><strong>College:</strong> {{request.user.college}}</li>
                                        <li><strong>Department:</strong> {{request.user.department}}</li>
                                        </div>
                                        <li><br></li>

                                    <li><a class="dropdown-item pl-3 pb-2 pt-2" href="{% url 'profile' %}"><i class="fa-solid fa-key"></i>Change Password</a></li>
                                    <li><a class="dropdown-item pl-3 pb-2 pt-2" href="{% url 'logout' %}"><i class="fa-sharp fa-solid fa-right-from-bracket"></i>Logout</a></li>
                                    </ul>
                                </li>
                            {% else %}
                                <a class='text-secondary mt-2 ms-2 me-3 pe-3' href="{% url 'loginPage' %}" id="navbarDropdown" >
                                   <strong>Log In</strong>
                                </a>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>

            <!-- Page Content  -->
            <div id="content" class="p-4 p-md-5 bg-body">
                {% include 'message.html' %}

                <main>
                    <div class="app-title">
                        {% block breadcrumb %}
                        {% endblock breadcrumb %}
                    </div>
                    {% block content %}
                    {% endblock content %}
                </main>

            </div>
		</div>
        {% include 'script_modules.html' %}

        {% block extrascripts %}
        {% endblock extrascripts %}
        <script>
            $(document).ready(function() {
                $('.msg').fadeIn();
                setTimeout(function() {
                    $(".msg").fadeOut();
                  }, 5000);;
            });
        </script>
    </body>
</html>