{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock title  %}</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!-- scripts and css -->
        {% include 'css_modules.html' %}
        {% block extracss %}
        {% endblock extracss %}

    </head>
    <body>
        <div class="wrapper d-flex align-items-stretch">
            <nav id="sidebar" class="active">
                <h1><a href="{% url 'indexPage' %}" class="logo">UPM</a></h1>
                <h1 class="name">Online Booking System</h1>
                <ul class="list-unstyled components mb-5">
                    <li class="active">
                        <a href="#"><i class="fa fa-home"></i> <span class="link_label">Home</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-home"></i> <span class="link_label">Dropdown</span>
                        </a>
                        <ul class="dropdown-menu text-dark" aria-labelledby="navbarDropdown">
                          <li><a class="dropdown-item text-dark" href="#">Action</a></li>
                          <li><a class="dropdown-item text-dark" href="#">Another action</a></li>
                          <li><hr class="dropdown-divider text-dark"></li>
                          <li><a class="dropdown-item text-dark" href="#">Something else here</a></li>
                        </ul>
                      </li>
                    <li>
                        <a href="#"><i class="fa fa-sticky-note"></i> <span class="link_label">Blog</span></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-cogs"></i> <span class="link_label">Services</span></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-paper-plane"></i> <span class="link_label">Contacts</span></a>
                    </li>
                </ul>

            </nav>

                <!-- Page Content  -->
            <div id="content" class="p-4 p-md-5 ">

                <nav class="navbar navbar-expand-lg navbar-light bg-light border">
                    <div class="container-fluid">

                        <button type="button" id="sidebarCollapse" class="btn btn-dark">
                            <i class="fa fa-bars"></i>
                            <span class="sr-only">Toggle Menu</span>
                        </button>
                        <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <i class="fa fa-bars"></i>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="nav navbar-nav ml-auto">
                                <li class="nav-item active">
                                    <a class="nav-link" href="#">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">About</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                      Dropdown
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                      <li><a class="dropdown-item" href="#">Action</a></li>
                                      <li><a class="dropdown-item" href="#">Another action</a></li>
                                      <li><hr class="dropdown-divider"></li>
                                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <main class="app-content">
                    <div class="app-title">
                        {% block breadcrumb %}
                        {% endblock breadcrumb %}
                    </div>
                    {% block content %}
                    {% endblock content %}
                </main>
                
            </div>
		</div>
        {% include 'script_modules.html' %}  
        {% block extrascripts %}
        {% endblock extrascripts %}
    </body>
</html>
