{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock title  %}</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!-- scripts and css -->
        {% include 'css_modules.html' %}
        
        {% block extracss %}
        {% endblock extracss %}

    </head>
    <body>
        <nav id="navbar" class="navbar navbar-dark active" style="background-color: #961111; position: sticky; top: 0; z-index: 1;">
            <h1><a href="{% url 'indexPage' %}" class="logo mt-2 pt-2">UPM</a></h1>
            <ul class="nav navbar-nav ml-auto">
                <span class="fw-bolder mt-2">User: {{request.user}}</span>
                {% if request.user.is_authenticated %}
                <li class="nav-item dropdown me-3 pe-3">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Account
                        </a>
                        
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        
                        <li><a class="dropdown-item" href="{% url 'profile' %}">Profile</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                        </ul>
                    </li>
                {% else %}
                    <a class='text-secondary mt-2 ms-2 me-3 pe-3' href="{% url 'loginPage' %}" id="navbarDropdown" >
                       <strong>Log In</strong> 
                    </a>
                {% endif %}
            </ul>
        </nav>
        <div class="wrapper d-flex align-items-stretch">
                <!-- Page Content  -->
            <div id="content" class="p-4 p-md-5 bg-body">
                {% include 'message.html' %}
                <nav class="navbar navbar-expand-lg navbar-light bg-light border">
                    <div class="container-fluid">

                        <button type="button" id="sidebarCollapse" class="btn btn-dark">
                            <i class="fa fa-bars"></i>
                            <span class="sr-only">Toggle Menu</span>
                        </button>
                        <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <i class="fa fa-bars"></i>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="nav navbar-nav ml-auto">
                                <span class="fw-bolder mt-2">User: {{request.user}}</span>
                                {% if request.user.is_authenticated %}
                                <li class="nav-item dropdown me-3 pe-3">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Account
                                        </a>
                                        
                                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        
                                        <li><a class="dropdown-item" href="{% url 'profile' %}">Profile</a></li>
                                        <li><hr class="dropdown-divider"></li>
                                        <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                                        </ul>
                                    </li>
                                {% else %}
                                    <a class='text-secondary mt-2 ms-2 me-3 pe-3' href="{% url 'loginPage' %}" id="navbarDropdown" >
                                       <strong>Log In</strong> 
                                    </a>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </nav>
                <main>
                    
                    <div class="app-title">
                        {% block breadcrumb %}
                        {% endblock breadcrumb %}
                    </div>
                    {% block content %}
                    {% endblock content %}
                </main>
                
            </div>
		</div>
        {% include 'script_modules.html' %}  
        
        {% block extrascripts %}
        {% endblock extrascripts %}
        <script>
            $(document).ready(function() {
                $('.msg').fadeIn();
                setTimeout(function() {
                    $(".msg").fadeOut();
                  }, 5000);;
            });
        </script>
    </body>
</html>
