{% extends 'base.html' %}

{% block content %}
<div class = "container-lg px-4 pb-2">
    <h2 class="py-4" style="font-weight: bolder;">About</h2>
    <p  style="color: black; font-weight: bold;  text-align: justify;">In most of the colleges in the University of the Philippines Manila, booking a room
        is done by requesting a booking form, submitting the form to the Administrative Officer,
        and waiting for the form to be approved or rejected. This process is exhausting and takes
        time to do as the person requesting may need to go to other colleges to search for
        available rooms, wait in line, or wait another day to block a schedule.
    </p>

    <p  style="color: black; font-weight: bold; text-align: justify">The UPM Online Room Booking System aims to eliminate this lengthy process by creating a centralized
        database wherein the requester can view and check the schedules of the
        rooms of their respective college or other colleges and request a blocking schedule. 
    </p>

    <p  style="color: black; font-weight: bold; text-align: justify">Currently, the system has rooms registered in CAMP, CAS, CD, CM, and CPh
    </p>

    <h2 class="py-4" style="font-weight: bolder;">Contact Us</h2>
    <p  style="color: black; font-weight: bold;  text-align: justify;">For any questions or inquiries, please contact the following information:</p>
    <i class="fa-2xl fa fa-phone-square" style="display:inline-block"></i> <p style="display:inline-block">+63 (123) 456 7890</p>
    <br>
    <i class="fa-2xl fa fa-envelope" style="display:inline-block"></i> <p style="display:inline-block">xxxxxx@up.edu.ph / yyyyyy@up.edu.ph</p>
</div>

{% endblock content %}