{% extends 'base.html' %}
{% load static %}
{% block title %}Add Term{% endblock title %}
{% load crispy_forms_tags %}

{% block extracss %}
<style>
    #date{
        display: none;
    }
</style>
{% endblock extracss %}
{% block breadcrumb %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-primary">
      <li class="breadcrumb-item"><a href="{% url 'indexPage' %}" class="text-dark">Home</a></li>
      <li class="breadcrumb-item"><a href="{% url 'manageTerm' %}" class="text-dark">Terms</a></li>
      <li class="breadcrumb-item active" aria-current="page">Add Term</li>
    </ol>
  </nav>
{% endblock breadcrumb %}
{% block content %}
<div class="container-fluid">
    <h1 class="subTitle">Terms</h1>
    <h1 class="title">Add Term</h1>
    <div class = "container-fluid container table-container mt-4">
        <h1 class="table-header p-2"><i class="fa-solid fa-plus mr-2"></i></i>Add College</h2>
            <div class = "row bg-white">
            <div class = "col my-4 px-5">
                <form method="POST" action="">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col">
                            {{form.academicyear | as_crispy_field}}
                            {{form.semester | as_crispy_field}}
                        </div>
                    </div>
                        <div class="col text-center">
                            <button class="btn btn-success mt-2" id="show">Next<i class="fa-solid fa-arrow-right ml-2"></i></button>
                        </div>
                    <p id='val'></p>
                    <div class="row" id="date">
                        <div class="col">
                            {{form.date_start | as_crispy_field}}
                            {{form.date_end | as_crispy_field}}
                        </div>
                        <div class="col text-center">
                            <button class="btn btn-success mt-2" type="submit"><i class="fa-solid fa-floppy-disk mr-2"></i>Save changes</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>



{% endblock content %}

{% block extrascripts %}
<script>
    const btn = document.getElementById('show');
    const form = document.getElementById('date');
    var txt = document.getElementById('id_academicyear').val;


    btn.addEventListener('click', () => {
        form.style.display = 'block';
    });


</script>

{% endblock extrascripts %}
