{% extends 'base.html' %}
{% load static %}
{% block title %}{{building.name}}{% endblock title %}
{% load crispy_forms_tags %}

{% block extracss %}
{% endblock extracss %}
{% block breadcrumb %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb mt-3 ms-4 bg-body">
    <li class="breadcrumb-item"><a href="{% url 'indexPage' %}" class="text-dark">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'manageCollege' %}" class="text-dark">Manage Colleges</a></li>
    <li class="breadcrumb-item"><a href="{% url 'adminCollegeView' college.slug %}" class="text-dark">{{college.name}}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{building.name}}</li>
  </ol>
</nav>
{% endblock breadcrumb %}

{% block content %}
<div class = "container w-auto">
    <h2 class="pt-4">{{building.name}}</h2>
    <h5 class="pb-4">{{college.name}}</h5>
    <div class = 'row-old'>
        <div class = 'col align-self-center'>
            <h5 class='ps-4'>Rooms</h5>
        </div>
        <div class = 'col-auto align-self-end text-end'>
            <a class='btn btn-warning mb-2 mx-4' role='button' href = "{% url 'addBuildRoom' college.slug building.slug%}"><i class="fa-solid fa-plus"></i> Add Room</a>
        </div>
    </div>
    <div class="container-fluid overflow-auto">
        {% for room in rooms %}
        <div class="row border bg-white p-4 mb-3">
        
        <div class="col align-self-center">
            <h5>{{room.name}}</h5>
        </div>
            <div class="col-auto align-self-end text-end">
                <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#removePopup{{college.id}}{{building.id}}{{room.id}}"><i class="fa-solid fa-close"></i> Remove</button>
            </div>
        </div>

        <!-- popup for removal -->
        <div class="modal fade" id="removePopup{{college.id}}{{building.id}}{{room.id}}" tab-index="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5>Remove Room</h5>
                        <button type="button" class="btn btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to remove this room?</p>
                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-danger" href="{% url 'removeRoom' college.slug building.slug room.slug %}"><i class="fa-solid fa-close"></i> Remove</a>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fa-solid fa-x"></i> Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>



{% endblock content %}

{% block extrascripts %}
{% endblock extrascripts %}