{% extends 'base.html' %}
{% load static %}
{% block title %}{{building.name}}{% endblock title %}
{% load crispy_forms_tags %}

{% block extracss %}
{% endblock extracss %}
{% block breadcrumb %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb mt-3 ms-4 bg-body">
    <li class="breadcrumb-item"><a href="{% url 'indexPage' %}" class="text-dark">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'manageCollege' %}" class="text-dark">Manage Colleges</a></li>
    <li class="breadcrumb-item"><a href="{% url 'adminCollegeView' college.slug %}" class="text-dark">{{college.name}}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{building.name}}</li>
  </ol>
</nav>
{% endblock breadcrumb %}

{% block content %}
<div class="modal fade" tabindex="-1" role="dialog" id="modal">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        
      </div>
    </div>
</div>
<div class = "container fluid">
    <h5 class="pt-4"  style="text-align:center;">{{building.name}}</h5>
    <h1 class="py-2" style="text-align:center; font-size:50px; color:#76090C">Rooms</h1>
    <div class = "container-fluid" style="background: #76090C; border-radius:10px;">
        <header  style="font-size: 20px; padding:5px; color: white"><i class="fa-solid fa-rectangle-list"></i> List of Rooms</header>
        <div style="overflow-y: scroll;overflow-x:hidden; height:325px;">
            {% for room in rooms %}
            <div class="row border bg-white p-3">
            
            <div class="col align-self-center">
                <h5>{{room.name}}</h5>
            </div>
                <div class="col-auto align-self-end text-end">
                    <a class='btn btn-secondary btn-sm' href = "{% url 'calendarView' room.slug %}" style=" background-color: #868686;"><i class="fa-solid fa-calendar-day"></i>    View in Calendar</a>
                    <button type="button" class="update btn btn-success btn-sm"  data-form-url="{% url 'viewEquipment' room.slug %}" style=" background-color: #01632C"><i class="fa-solid fa fa-tv"></i></button>
                    <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#removePopup{{college.id}}{{building.id}}{{room.id}}" style=" background-color: #76090C;"><i class="fa-solid fa-trash-can"></i></button>
                </div>
            </div>
    
            <!-- popup for removal -->
            <div class="modal fade" id="removePopup{{college.id}}{{building.id}}{{room.id}}" tab-index="-1">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content"  style="border-radius:10px">
                        <div class="modal-header"  style="background: #76090C;">
                            <h5 style="color:white"><i class="fa-regular fa-square-minus"></i>  Remove Room</h5>
                            {% comment %} <button type="button" class="btn btn-close" data-bs-dismiss="modal"></button> {% endcomment %}
                        </div>
                        <div class="modal-body">
                            <p>Are you sure you want to remove '{{room.name}}'?</p>
                        </div>
                        <div class="modal-footer">
                            <a class="btn btn-danger" href="{% url 'removeRoom' college.slug building.slug room.slug %}"style=" background-color: #76090C;"><i class="fa-regular fa-trash-can"></i>    Remove</a>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"style=" background-color: #868686;"><i class="fa-solid fa-xmark"></i> Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class = 'text-center' style="margin-top:10px;">
            <a class='btn btn-warning mb-2 mx-4' role='button' href = "{% url 'addBuildRoom' college.slug building.slug%}"><i class="fa-solid fa-square-plus" style="mbackground-color:#FFAD0D"></i> Add Room</a>
        </div>
    </div>
</div>



{% endblock content %}

{% block extrascripts %}
<script>
    $(function() {
    
      var $options=$('#id_building option').clone();
      $('#id_college').change(function() {
        console.log('yes');$('#id_building').empty();$('#id_building').html( $options.clone());populateBuild(this);
      });
      $('#id_building').change(function(){
        console.log("success")
        $('#name_cap').css("display","block")
      });
      populateBuild()
      function populateBuild(event) {
          if (!$('#id_college').val()){
              console.log('empty')
               $('#id_building').html( $options.clone());
          }
          else{
              col = $("#id_college option:selected").text();
              {% for college in colleges%}
                  if ('{{college}}' == col) {
                      //alert(b);
                      console.log('true')
                      
                         
                          {% for build in college.building_set.all %}   
                              {% for b in building %}
                                  if('{{b.college}}'!= '{{build.college}}'){                              
                                      $('#id_building option[value="{{b.id}}"]').remove();
                                  }
                              {%endfor%}
                          {% endfor %}
                  }
              {% endfor %}    
          }
          
      }
      var asyncSuccessMessageUpdate = [
        "<div ",
        "style='position:fixed;top:0;z-index:10000;width:100%;border-radius:0;' ",
        "class='alert alert-icon alert-success alert-dismissible fade show mb-0' role='alert'>",
        "Success: Room details were changed.",
        "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>",
        "<span aria-hidden='true'>&times;</span>",
        "</button>",
        "</div>",
        "<script>",
        "$('.alert').fadeTo(2000, 500).slideUp(500, function () {$('.alert').slideUp(500).remove();});",
        "<\/script>"
      ].join("");
    
    
      function updateRoomModalForm() {
          
        $('.update').each(function () {
          $(this).modalForm({
            formURL: $(this).data("form-url"),
            asyncUpdate: true,
            asyncSettings: {
              closeOnSubmit: false,
              successMessage: asyncSuccessMessageUpdate,
              dataUrl: "rooms/",
              dataElementId: "#room-table",
              dataKey: "table",
              addModalFormFunction: reinstantiateModalForms
            }
          });
        }); 
      
      }
      updateRoomModalForm();
      
      function reinstantiateModalForms(){
        updateRoomModalForm();
      }
    })
    </script>
{% endblock extrascripts %}