{% extends 'base.html' %}
{% load static %}
{% block title %}Calendar View{% endblock title %}
{% load crispy_forms_tags %}

{% block extracss %}
<link rel="stylesheet" href="{% static 'calender/main.css' %}?{% now 'U' %}">
{% endblock extracss %}
{% block breadcrumb %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb mt-3 ms-4 bg-body">
    <li class="breadcrumb-item"><a href="#" class="text-dark">Home</a></li>
    <li class="breadcrumb-item"><a href="#" class="text-dark">Room</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{room.name}} Calendar</li>
  </ol>
</nav>
{% endblock breadcrumb %}

{% block content %}
<div class = "container-fluid">
  <h2 class="pt-4 px-4 ms-4">{{room.name}}</h2>
  <h5 class="px-4 ms-4">Calendar View</h5>
  <h4 class="pb-4 px-4 ms-4 text-center">A.Y. {{term.academicyear}}</h5>
  <div class="col-md-11 ms-5 ps-5 ">
      <div id="calendar"></div>
  </div>
  <div class="modal fade" id="exampleModal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title ms-1" id="exampleModalLabel"></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="container">
            <p id="faculty"></p>
            <p id="activity"></p>
            <p id="start"></p>
            <p id="end"></p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-success" id="edit">Edit</button>
        </div>
      </div>
    </div>
  </div>
  
</div>

{% endblock content %}

{% block extrascripts %}
<script src="{% static 'calender/main.js' %}?{% now 'U' %}"></script>
<script>
  function formatAMPM(date) {
    var hours = date.getHours();
    var minutes = date.getMinutes();
    var ampm = hours >= 12 ? 'PM' : 'AM';
    hours = hours % 12;
    hours = hours ? hours : 12; // the hour '0' should be '12'
    minutes = minutes < 10 ? '0'+minutes : minutes;
    var strTime = hours + ':' + minutes + ' ' + ampm;
    return strTime;
  }   
  document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');
    var today = new Date();
    
    var calendar = new FullCalendar.Calendar(calendarEl, {
      
      headerToolbar: {
        left: 'prev,next today',
        center: 'title',
        right: 'timeGridWeek,dayGridMonth,timeGridDay'
      },
      weekends: false,
      height: 'auto',
      slotMinTime: "05:00:00",
      slotMaxTime: "21:00:00",
      slotLabelFormat: {
        hour: 'numeric',
        minute: '2-digit',
        omitZeroMinute: false,
      },
      eventTimeFormat:{
        hour: 'numeric',
        minute: '2-digit',
        meridiem: true
      },
      
      themeSystem: 'standard',
      initialView: 'timeGridWeek',
      initialDate: today,
      navLinks: true, // can click day/week names to navigate views
      selectable: true,
      selectMirror: true,
      select: function(arg) {
        console.log('clicked')
        var modal = document.getElementById('eventModal')
        modal.style.display = 'block'
        calendar.unselect()
      },
      // THIS KEY WON'T WORK IN PRODUCTION!!!
      // To make your own Google API key, follow the directions here:
      // http://fullcalendar.io/docs/google_calendar/
      // googleCalendarApiKey: 'AIzaSyCqCxjjLtjbtkX37aOtWB8OfwBLy_6QuYk',

      // bangladesh Holidays
      // events: 'bn.bd#holiday@group.v.calendar.google.com',
      
      
      dayMaxEvents: true, // allow "more" link when too many events
      events: [
        {% for book in booking %}
          {
            "id":"{{book.id}}",
            "title": "{{book.subject}}",
            "start": '{{book.start_time|date:"Y-m-d H:i:s"}}',
            "end": '{{book.end_time|date:"Y-m-d H:i:s"}}',
            "extendedProps":{
              "faculty" :'{{book.getFullName}}',
              "approved":'{{book.isApproved}}',
              "activity":'{{book.activity}}'
            },
            
          },
        {% endfor %}
      ],
            
      eventClick: function(info) {
        console.log('modal', info);
        let approve;
        if(info.event.extendedProps.approved === 'False'){
          approve = 'No';
        }
        else{
          approve = 'Yes';
        }
        
        $('#exampleModalLabel').text('Subject: ' + info.event.title)
        $('#faculty').text('Faculty: ' + info.event.extendedProps.faculty)
        $('#activity').text('Activity: ' + info.event.extendedProps.activity)
        $('#start').text('Start: ' + formatAMPM(info.event.start) )
        $('#end').text('End: ' + formatAMPM(info.event.end))
        $('#exampleModal').modal('show')
        $('#edit').click(function(){
          location.href = "{% url 'dashBoardPage' %}"
        })               
      },
    });

    calendar.render();
  });
  /* const closeBtn1 = document.getElementById('modalClose1');
  const closeBtn2 = document.getElementById('modalClose2');
  closeBtn1.addEventListener('click',()=>{
    const eventModal = document.getElementById('eventModal')
    eventModal.style.display = 'none';
  });
  closeBtn2.addEventListener('click',()=>{
    const eventModal = document.getElementById('eventModal')
    eventModal.style.display = 'none';
  });*/
</script>

{% endblock extrascripts %}