{% extends 'base.html' %}
{% load static %}
{% block title %}Calendar View{% endblock title %}
{% load crispy_forms_tags %}

{% block extracss %}
<link rel="stylesheet" href="{% static 'calender/main.css' %}?{% now 'U' %}">
{% endblock extracss %}
{% block breadcrumb %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb mt-3 ms-4 bg-body">
    <li class="breadcrumb-item"><a href="{% url 'indexPage' %}" class="text-dark">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'roomView' %}" class="text-dark">Room</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{room.name}} Calendar</li>
  </ol>
</nav>
{% endblock breadcrumb %}

{% block content %}
<div class = "container-fluid">
  <h2 class="pt-4 px-4 ms-4">{{room.name}}</h2>
  <h5 class="px-4 ms-4">Calendar View</h5>
  <div class = "row justify-content-end">
    <div class = "col-6 ps-5  ">
      <h4 class="pb-4">A.Y. {{term.academicyear}} {{term.semester}}</h5>
    </div>  
    <div class = "col-2 ms-4">
      {%if request.user.is_authenticated%}
        {%if request.user.user_type == 1 or request.user.user_type == 2%}
        <a class='btn btn-warning mb-2' role='button' href = "#book" data-bs-toggle="modal" data-bs-target="#book"><i class="fa-solid fa-calendar"></i> Book Now</a>
        {% else %}
        <a class='btn btn-warning mb-2 disabled' role='button' href = "#book" data-bs-toggle="modal" data-bs-target="#book" aria-disabled="true"><i class="fa-solid fa-calendar"></i> Book Now</a>
        {%endif%}
      {% else %}
      <a class='btn btn-warning mb-2 disabled' role='button' href = "#book" data-bs-toggle="modal" data-bs-target="#book" aria-disabled="true"><i class="fa-solid fa-calendar"></i> Book Now</a>
      {%endif%}
    </div> 
    
  </div>  
  <div class="col-md-11 ms-4 ps-6 ">
      <div class=""id="calendar"></div>
  </div>
  
  <div class="modal fade" id="exampleModal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title ms-1" id="exampleModalLabel"></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="container">
            <p id="faculty"></p>
            <p id="subject"></p>
            <p id="section"></p>
            <p id = "capacity"></p>
            <p id="start"></p>
            <p id="end"></p>
            <p id="daysofweek"></p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-success" id="edit">Edit</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="book">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title ms-1" id="exampleModalLabel"><i class="fa-solid fa-calendar"></i> Book Now</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form method="POST">
          {% csrf_token %}
          <div class="modal-body">
            {{form.subject | as_crispy_field}}
            {{form.faculty | as_crispy_field}}
            {{form.dept_or_office | as_crispy_field}}
            {{form.organization | as_crispy_field}}
            {{form.start_time | as_crispy_field}}
            {{form.end_time | as_crispy_field}}
            {{form.numofstudents | as_crispy_field}}
            {{form.activity | as_crispy_field}}
            {{form.equipment | as_crispy_field}}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-success" data-bs-dismiss="modal" id="edit">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  
</div>

{% endblock content %}

{% block extrascripts %}
<script src="{% static 'calender/main.js' %}?{% now 'U' %}"></script>
<script>
  function formatAMPM(date) {
    var hours = date.getHours();
    var minutes = date.getMinutes();
    var ampm = hours >= 12 ? 'PM' : 'AM';
    hours = hours % 12;
    hours = hours ? hours : 12; // the hour '0' should be '12'
    minutes = minutes < 10 ? '0'+minutes : minutes;
    var strTime = hours + ':' + minutes + ' ' + ampm;
    return strTime;
  }   
  document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');
    var today = new Date();
    
    var calendar = new FullCalendar.Calendar(calendarEl, {
      
      headerToolbar: {
        left: 'prev,next today',
        center: 'title',
        right: 'timeGridWeek,dayGridMonth,timeGridDay'
      },

      eventOverlap: false,
      initialView: 'timeGridWeek',
      hiddenDays:[0],
      validRange: {
        start: "{{term.date_start|date:'Y-m-d'}}",
        end: "{{term.date_end|date:'Y-m-d'}}",
      },
      height: 'auto',
      slotMinTime: "07:00:00",
      slotMaxTime: "21:00:00",
      slotLabelFormat: {
        hour: 'numeric',
        minute: '2-digit',
        omitZeroMinute: false,
      },
      eventTimeFormat:{
        hour: 'numeric',
        minute: '2-digit',
        meridiem: true
      },
      
      themeSystem: 'standard',
      
      initialDate: today,
      navLinks: true, // can click day/week names to navigate views  
      {% if request.user.is_authenticated %}
        {%if request.user.user_type == 1 or request.user.user_type == 2 or request.user.user_type == 6 %}
          selectable: true,
        {% endif %} 
      {% endif %} 
       
      selectMirror: true,
    
      select: function(arg) {
        console.log('clicked')
        {% if request.user.is_authenticated %}
          {%if request.user.user_type == 1 or request.user.user_type == 2 or request.user.user_type == 6 %}
            $("#book").modal("show")
            calendar.unselect()
          {% endif %}
        {% endif %}    
      },
      
      dayMaxEvents: false, // allow "more" link when too many events
      events: [
        {% for book in booking %}
          {
            "id":"{{book.id}}",
            "title": "{{book.subject}}",
            "start": '{{book.start_time|date:"Y-m-d H:i:s"}}',
            "end": '{{book.end_time|date:"Y-m-d H:i:s"}}',
            {% if book.isApproved %}
            "color":"green",
            {% else %}
            "color":"gray",
            {% endif %}
            "extendedProps":{
              "type" :'booking',
            },
            
          },
        {% endfor %}
        {% for s in sched %}
          {
            "title": "{{s.subject}}({{s.component}}) ",
            "startTime": '{{s.time_start|date:"H:i"}}',
            "endTime": '{{s.time_end|date:"H:i"}}',
            "daysOfWeek":'{{s.getDays}}',
            "color":"brown",
            "extendedProps":{
              "type" :'schedule',
              "faculty": '{{s.faculty}}',
              "subject": '{{s.subject}}',
              "section": '{{s.section}}',
              "capacity": '{{s.capacity}}',
            },
          },
        {% endfor %}
      ],
            
      eventClick: function(info) {

        if(info.event.extendedProps.type == 'booking'){
          
          {% for book in booking %}
              {%if request.user.is_authenticated %}
              if ('{{book.id}}'== info.event.id){
                location.href = "{% url 'bookingDetails' book.id %}"
              }
             {%endif%}
          {% endfor %}
          
        }
        else{
          $('#exampleModalLabel').text(info.event.title)
          $('#faculty').text('Faculty: ' + info.event.extendedProps.faculty)
          $('#subject').text('Subject: ' + info.event.extendedProps.subject)
          $('#start').text('Start: ' + formatAMPM(info.event.start))
          $('#end').text('End: ' + formatAMPM(info.event.end))
          $('#section').text('Section: ' + info.event.extendedProps.section)
          $('#capacity').text('Capacity: ' + info.event.extendedProps.capacity)
          $('#exampleModal').modal('show')
         
        }

                      
      },
    });

    calendar.render();
  });
</script>

{% endblock extrascripts %}