{% extends 'base.html' %}
{% load static %}
{% block title %}Manage Colleges{% endblock title %}
{% load crispy_forms_tags %}

{% block extracss %}
{% endblock extracss %}
{% block breadcrumb %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb mt-3 ms-4 bg-body">
    <li class="breadcrumb-item"><a href="#" class="text-dark">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Manage Colleges</li>
  </ol>
</nav>
{% endblock breadcrumb %}

{% block content %}
<div class = "container-fluid">
    <h2 class="py-4 px-4">Manage Colleges</h2>
    <div class = 'text-right'>
      <a class='btn btn-warning mb-4 mx-4' role='button' href = "{% url 'addCollege' %}"><i class="fa-solid fa-plus"></i> Add College</a>
    </div>

    {% for college in colleges %}
    <div class="row border bg-white p-3 mb-3">
      
      <div class="col align-self-center">
          <a href="{% url 'adminCollegeView' college.slug %}"><h5>{{college.name}}</h5></a>
      </div>

          <div class="col-auto align-self-end text-end">
              
              <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#removePopup{{college.id}}"><i class="fa-solid fa-close"></i> Remove</button>
          </div>
      </div>

      <!-- popup for removal -->
      <div class="modal" id="removePopup{{college.id}}" tab-index="-1">
          <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                  <div class="modal-header">
                      <h5>Remove College</h5>
                      <button type="button" class="btn btn-close" data-bs-dismiss="modal"></button>
                  </div>
                  <div class="modal-body">
                      <p>Are you sure you want to remove this college?</p>
                  </div>
                  <div class="modal-footer">
                      <a class="btn btn-danger" href="{% url 'removeCollege' college.slug %}"><i class="fa-solid fa-close"></i> Remove</a>
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fa-solid fa-x"></i> Cancel</button>
                  </div>
              </div>
          </div>
      </div>
      {%endfor%}

</div>



{% endblock content %}

{% block extrascripts %}
{% endblock extrascripts %}