{% extends 'base.html' %}
{% load static %}
{% block title %}{{college.name}}{% endblock title %}
{% load crispy_forms_tags %}

{% block extracss %}
{% endblock extracss %}
{% block breadcrumb %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb mt-3 ms-4 bg-body">
    <li class="breadcrumb-item"><a href="{% url 'indexPage' %}" class="text-dark">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'manageCollege' %}" class="text-dark">Manage Colleges</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{college.name}}</li>
  </ol>
</nav>
{% endblock breadcrumb %}

{% block content %}
<div class = "container w-auto">
    <h5 class="" style="text-align:center;">{{college.name}}</h5>
    <h2 class="py-3" style="text-align:center; color:#76090C">Departments and Buildings</h2>
    <div class = 'row'>
        <div class = 'col align-self-center'>
            <form method='POST'>
                {%csrf_token%}
                <input class = "btn btn-success mb-4" type="submit" value="Department" name="dept" id="d" />
                <input class = "btn btn-secondary mb-4 ms-2" type="submit" value="Buildings" name="build" id="b" />
            </form>
        </div>

    </div>

    <div style="overflow-y: scroll;overflow-x:hidden; height:325px;">
        {% for field in fields %}
        <div class="row border-bottom bg-white p-4" style="border-radius:10px">
          
          <div class="col align-self-center">
                {% if view == 'build'%}
                <a><h5>{{field.name}}</h5></a>
                {% else %}
                <h5>{{field.name}}</h5>
                {% endif %}
          </div>
            <div class="col-auto align-self-end text-end">
                {% if view == 'build'%}
                <a href="{% url 'adminBuildingView' college.slug field.slug%}"><button type="button" class="btn btn-success btn-sm"style=" background-color: #868686; margin-right: 5px"><i class="fa-solid fa-door-open"></i>  View Rooms</button></a>
                {% else %}
                <a href="{% url 'manageUsers'%}"><button type="button" class="btn btn-success btn-sm"style=" background-color: #868686; margin-right: 5px"><i class="fa-solid fa-users"></i> View Users</button></a>
                {% endif %}
                <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#removePopup{{college.id}}{{field.id}}" style=" background-color: #76090C;"><i class="fa-solid fa-trash-can"></i></button>
                
            </div>
        </div>
        {% endfor %}
        {% for field in fields %}
         <!-- popup for removal -->
        <div class="modal fade" id="removePopup{{college.id}}{{field.id}}" tab-index="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content"  style="border-radius:10px">
                    <div class="modal-header"  style="background: #76090C;">
    
                        {% if view == 'build' %}
                        <h5 style="color:white"><i class="fa-regular fa-square-minus"></i>  Remove Building</h5>
                        {% else %}
                        <h5 style="color:white"><i class="fa-regular fa-square-minus"></i>  Remove Department</h5>
                        {% endif %}
    {% comment %} 
                        <button type="button" class="btn btn-close" data-bs-dismiss="modal"></button> {% endcomment %}
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to remove '{{field.name}}'?</p>
                    </div>
                    <div class="modal-footer">
                        {% if view == 'build' %}
                            <a class="btn btn-danger" href="{% url 'removeBuild' college.slug field.slug%}" style=" background-color: #76090C;"><i class="fa-regular fa-trash-can"></i> Remove</a>
                        {% else %}
                            <a class="btn btn-danger" href="{% url 'removeDept' college.slug field.slug%}" style=" background-color: #76090C;"><i class="fa-regular fa-trash-can"></i>    Remove</a>
                        {% endif %}
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"style=" background-color: #868686;"><i class="fa-solid fa-xmark"></i> Cancel</button>
                    </div>
                </div>
            </div>
        </div>
          {% endfor %}
    </div>
    
      <div class = 'text-center' style="margin-top:10px;"z``>
        {% if view == 'build'%}
        <a class='btn btn-warning mb-4' role='button' href = "{% url 'addBuild' college.slug %}"><i  class="fa-solid fa-square-plus" style="mbackground-color:#FFAD0D"></i> Add Building</a> 
        {% else %}
        <a class='btn btn-warning mb-4 mx-4' role='button' href = "{% url 'addDept' college.slug%}"><i  class="fa-solid fa-square-plus" style="mbackground-color:#FFAD0D"></i> Add Department</a>
        {% endif %}
        </div>

</div>



{% endblock content %}

{% block extrascripts %}
<script>
    
    if("{{view}}" === 'dept'){
        $("#d").css("background-color","#01632C");
        $("#b").css("background-color","#76090C");
    }
    else{
        $("#b").css("background-color","#01632C");
        $("#d").css("background-color","#76090C");
    }
</script>
{% endblock extrascripts %}