{% extends 'base.html' %}
{% load static %}
{% block title %}{{college.name}}{% endblock title %}
{% load crispy_forms_tags %}

{% block extracss %}
{% endblock extracss %}
{% block breadcrumb %}
{% if request.user.is_authenticated %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-primary">
      <li class="breadcrumb-item"><a href="{% url 'indexPage' %}" class="text-dark">Home</a></li>
      <li class="breadcrumb-item"><a href="{% url 'manageCollege' %}" class="text-dark">Colleges</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{college.name}} - Departments and Buildings</li>
    </ol>
</nav>
{% endif %}

{% endblock breadcrumb %}

{% block content %}
<div class = "container-fluid">
    <h1 class="subTitle">{{college.name}}</h1>
    <h1 class="title">Departments and Buildings</h1>

    <div class = 'row mt-4 text-center'>
        <div class = 'col align-self-center'>
            <form method='POST'>
                {%csrf_token%}
                <input class = "btn btn-success mb-4" type="submit" value="Departments" name="dept" id="d" />
                <input class = "btn btn-secondary mb-4 ms-2" type="submit" value="Buildings" name="build" id="b" />
            </form>
        </div>
    </div>

    <div class = "container-fluid table-container">
        <header class="table-header p-2"><i class="fa-solid fa-rectangle-list mr-2"></i>List of
            {% if view == 'build'%}
            Buildings
            {% else %}
            Departments
            {% endif %}
        </header>
        {% for field in fields %}
            <div class="row border-bottom bg-white p-3">

                <div class="col align-self-center">
                    {% if view == 'build'%}
                    <a><h6>{{field.name}}</h6></a>
                    {% else %}
                    <h6>{{field.name}}</h6>
                    {% endif %}
                </div>

                <div class="col-auto align-self-end text-end">
                    {% if view == 'build'%}
                    <a href="{% url 'adminBuildingView' college.slug field.slug%}"><button type="button" class="btn btn-secondary btn-sm mr-2"><i class="fa-solid fa-door-open mr-2"></i>View Rooms</button></a>
                    {% else %}
                    {% if request.user.is_authenticated %}
                        <a href="{% url 'manageUsers'%}"><button type="button" class="btn btn-secondary btn-sm mr-2"><i class="fa-solid fa-users mr-2"></i>View Users</button></a>
                    {% endif %}
                    {% endif %}
                    {% if request.user.is_authenticated %}
                    <button type="button" class="btn btn-danger btn-sm mr-2" data-bs-toggle="modal" data-bs-target="#removePopup{{college.id}}{{field.id}}"><i class="fa-solid fa-trash-can"></i></button>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
            {% for field in fields %}

            <!-- popup for removal -->
            <div class="modal fade" id="removePopup{{college.id}}{{field.id}}" tab-index="-1">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">

                            {% if view == 'build' %}
                            <h5 class="modal-title"><i class="fa-regular fa-trash-can mr-2"></i>Remove Building</h5>
                            {% else %}
                            <h5 class="modal-title"><i class="fa-regular fa-trash-can mr-2"></i>Remove Department</h5>
                            {% endif %}

                            {% comment %} <button type="button" class="btn btn-close" data-bs-dismiss="modal"></button> {% endcomment %}
                        </div>
                        <div class="modal-body">
                            <p class="mt-auto mb-auto">Are you sure you want to remove <strong>{{field.name}}</strong>?</p>
                        </div>
                        <div class="modal-footer">
                            {% if request.user.is_authenticated %}
                            {% if view == 'build' %}
                                <a class="btn btn-danger mr-2" href="{% url 'removeBuild' college.slug field.slug%}"><i class="fa-regular fa-trash-can mr-2"></i>Remove</a>
                            {% else %}
                                <a class="btn btn-danger mr-2" href="{% url 'removeDept' college.slug field.slug%}"><i class="fa-regular fa-trash-can mr-2"></i>Remove</a>
                            {% endif %}
                            {% endif %}
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fa-solid fa-xmark mr-2"></i>Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        <div class="row bg-white p-3">
            {% if request.user.is_authenticated %}
            {% if view == 'build'%}
            <a class='btn btn-warning mr-auto ml-auto' role='button' href = "{% url 'addBuild' college.slug %}"><i  class="fa-solid fa-square-plus mr-2"></i>Add Building</a>
            {% else %}
            <a class='btn btn-warning mr-auto ml-auto' role='button' href = "{% url 'addDept' college.slug%}"><i  class="fa-solid fa-square-plus mr-2"></i>Add Department</a>
            {% endif %}
            {% endif %}
        </div>
    </div>
</div>

{% endblock content %}

{% block extrascripts %}
<script>

    if("{{view}}" === 'dept'){
        $("#d").css("background-color","#01632C");
        $("#b").css("background-color","transparent");
        $("#b").css("border-color","#01632C");
        $("#b").css("color","#01632C");

    }
    else{
        $("#b").css("background-color","#01632C");
        $("#d").css("background-color","transparent");
        $("#d").css("border-color","#01632C");
        $("#d").css("color","#01632C");
    }
</script>
{% endblock extrascripts %}
