{% extends 'base.html' %}
{% load static %}
{% block title %}Manage Colleges{% endblock title %}
{% load crispy_forms_tags %}

{% block extracss %}
{% endblock extracss %}
{% block breadcrumb %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb mt-3 ms-4 bg-body">
    <li class="breadcrumb-item"><a href="{% url 'indexPage' %}" class="text-dark">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Manage Colleges</li>
  </ol>
</nav>
{% endblock breadcrumb %}

{% block content %}
<div class = "container-fluid">
  <h1 class="py-4 px-4" style="text-align:center; font-size:50px; color:#76090C">Colleges</h1>
    <div class = "container-fluid" style="background: #76090C; border-radius:10px">
      <header  style="font-size: 20px; padding:5px; color: white"><i class="fa-solid fa-rectangle-list"></i> List of Colleges</header>
      {% for college in colleges %}
      <div class="row border bg-white p-3 ">
        
        <div class="col align-self-center">
            <h5>{{college.name}}</h5>
        </div>
  
            <div class="col-auto align-self-end text-end">
              <a href="{% url 'adminCollegeView' college.slug %}"><button type="button" class="btn btn-success btn-sm" href="{% url 'adminCollegeView' college.slug %}" style=" background-color: #868686; margin-right: 5px"><i class="fa-solid fa-building-columns" ></i>  View Departments & Buildings</button></a>
              {% comment %} <button type="button" class="update bs-modal btn btn-sm btn-success btn-sm" data-form-url="{% url 'editCollege' college.slug %}" style="background-color: #01632C"><i class="fa-solid fa-pen"></i></button> {% endcomment %}
              <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#removePopup{{college.id}}" style=" background-color: #76090C;"><i class="fa-regular fa-trash-can" ></i></button>
            </div>
        </div>
  
        <!-- popup for removal -->
        <div class="modal" id="removePopup{{college.id}}" tab-index="-1">
            <div class="modal-dialog modal-dialog-centered" >
                <div class="modal-content"  style="border-radius:10px">
                    <div class="modal-header"  style="background: #76090C;">
                        <h5  style="color:white"><i class="fa-regular fa-square-minus"></i>  Remove College</h5>
                        <button type="button" class="btn btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to remove this college?</p>
                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-danger" href="{% url 'removeCollege' college.slug %}" style=" background-color: #76090C;"><i class="fa-regular fa-trash-can"></i> Remove</a>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style=" background-color: #868686;"><i class="fa-solid fa-xmark"></i> Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        {%endfor%}
        <div class = 'text-center' style="margin-top:10px;">
          <a class='btn btn-warning mb-4 mx-4' role='button' href = "{% url 'addCollege' %}"><i class="fa-solid fa-square-plus" style="mbackground-color:#FFAD0D"></i> Add College</a>
        </div>
    </div>


</div>



{% endblock content %}

{% block extrascripts %}
{% endblock extrascripts %}