{% extends 'base.html' %}
{% load static %}
{% block title %}{{college.name}}{% endblock title %}
{% load crispy_forms_tags %}

{% block extracss %}
{% endblock extracss %}
{% block breadcrumb %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb mt-3 ms-4 bg-body">
    <li class="breadcrumb-item"><a href="#" class="text-dark">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'manageCollege' %}" class="text-dark">Manage Colleges</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{college.name}}</li>
  </ol>
</nav>
{% endblock breadcrumb %}

{% block content %}
<div class = "container w-auto">
    <h2 class="py-4">{{college.name}}</h2>
    <div class = 'row'>
        <div class = 'col align-self-center'>
            <form method='POST'>
                {%csrf_token%}
                <input class = "btn btn-success mb-4" type="submit" value="Department" name="dept" id="d"/>
                <input class = "btn btn-secondary mb-4 ms-2" type="submit" value="Buildings" name="build" id="b" />
            </form>
        </div>
        <div class = 'col-auto align-self-end text-end'>
        <a class='btn btn-warning mb-4' role='button' href = "{% url 'addBuild' college.slug %}"><i class="fa-solid fa-plus"></i> Add Building</a>  
        <a class='btn btn-warning mb-4 mx-4' role='button' href = "{% url 'addDept' college.slug%}"><i class="fa-solid fa-plus"></i> Add Department</a>
        </div>

    </div>

    

    {% for field in fields %}
    <div class="row border bg-white p-4 mb-3">
      
      <div class="col align-self-center">
            {% if view == 'build'%}
            <a href="{% url 'adminBuildingView' college.slug field.slug%}"><h5>{{field.name}}</h5></a>
            {% else %}
            <h5>{{field.name}}</h5>
            {% endif %}
      </div>
        <div class="col-auto align-self-end text-end">
           
            <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#removePopup{{college.id}}{{field.id}}"><i class="fa-solid fa-close"></i> Remove</button>
        </div>
    </div>

     <!-- popup for removal -->
    <div class="modal fade" id="removePopup{{college.id}}{{field.id}}" tab-index="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">

                    {% if view == 'build' %}
                    <h5>Remove Building</h5>
                    {% else %}
                    <h5>Remove Department</h5>
                    {% endif %}

                    <button type="button" class="btn btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to remove '{{field.name}}'?</p>
                </div>
                <div class="modal-footer">
                    {% if view == 'build' %}
                        <a class="btn btn-danger" href="{% url 'removeBuild' college.slug field.slug%}"><i class="fa-solid fa-close"></i> Remove</a>
                    {% else %}
                        <a class="btn btn-danger" href="{% url 'removeDept' college.slug field.slug%}"><i class="fa-solid fa-close"></i> Remove</a>
                    {% endif %}
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fa-solid fa-x"></i> Cancel</button>
                </div>
            </div>
        </div>
    </div>
      {% endfor %}
      

</div>



{% endblock content %}

{% block extrascripts %}
<script>
    
    if("{{view}}" === 'dept'){
        console.log('yes')
        $("#d").css("background-color","#28a745");
        $("#b").css("background-color","#6c757d");
    }
    else{
        $("#b").css("background-color","#28a745");
        $("#d").css("background-color","#6c757d");
    }
</script>
{% endblock extrascripts %}