{% extends 'base.html' %}
{% load static %}
{% block title %}Add form.college{% endblock title %}
{% load crispy_forms_tags %}

{% block extracss %}
<style>
    #date{
        display: none;
    }
</style>
{% endblock extracss %}
{% block breadcrumb %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb mt-3 ms-4 bg-body">
    <li class="breadcrumb-item"><a href="#" class="text-dark">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'manageCollege' %}" class="text-dark">Manage Colleges</a></li>
    <li class="breadcrumb-item active" aria-current="page">Add College</li>
  </ol>
</nav>
{% endblock breadcrumb %}

{% block content %}
<h2 class="py-4 px-4">Manage Equipments for {{ room.name }}</h2>
<div class = "container w-50">
    <div class = "row bg-light shadow-sm border " style="overflow-y: scroll;overflow-x:hidden; height:325px;">
        <div class = "col my-4 px-5">
            <form method="POST" action="">
                {% csrf_token %}
                <div class="row">
                    <div class="col-8">
                        {{form.equipment | as_crispy_field}}
                        {% for room in rooms %}
                        {{room.equipment}}
                        {% endfor %}
                    </div>
                </div>
            </form>
        </div>
        <div class = 'text-center' style="margin-top:10px;">
            <a class='btn btn-warning mb-2 mx-4' role='button' href = "{% url 'addEquipment' room.slug %}"><i class="fa-solid fa-square-plus" style="mbackground-color:#FFAD0D"></i> Add Equipment</a>
        </div>
    </div>
    <div class="row">
        <div class = 'text-center' style="margin-top:10px;">
            <button class="btn btn-success" type="submit" style="background-color:#01632C; margin-top:10px; text-align:center"><i class="fa-regular fa-floppy-disk"></i> &nbsp;Save changes</button>
        </div>
    </div>
</div>



{% endblock content %}

{% block extrascripts %}
<script>
    const btn = document.getElementById('show');
    const form = document.getElementById('date');
    var txt = document.getElementById('id_academicyear').val;

    
    btn.addEventListener('click', () => {
        form.style.display = 'block';
    });   
    
    
</script>

{% endblock extrascripts %}