{% extends 'base.html' %}
{% load static %}
{% block title %}Manage Rooms{% endblock title %}
{% load crispy_forms_tags %}

{% block extracss %}
<style>
  #name_cap{
    display: none;
  }
</style>
{% endblock extracss %}
{% block breadcrumb %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb mt-3 ms-4 bg-body">
    <li class="breadcrumb-item"><a href="#" class="text-dark">Home</a></li>
   
    <li class="breadcrumb-item active" aria-current="page">Manage Rooms</li>
  </ol>
</nav>
{% endblock breadcrumb %}

{% block content %}
<div class = "container w-auto">
    <h2 class="pt-4">Manage Rooms</h2>
    <div class = 'row'>
        <div class = 'colalign-self-end text-end'>
            <button class='btn btn-warning mb-2 mx-4' data-bs-toggle="modal" data-bs-target="#addTermRoom"><i class="fa-solid fa-plus"></i> Add Room</button>
        </div>
    </div>
    <div class="container-fluid overflow-auto">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Room</th>
                <th scope="col">Building</th>
                <th scope="col">College</th>
                <th scope="col">Capacity</th>
                <th scope="col"></th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
            {% for room in rooms %}
              <tr>
                <td>{{room.name}}</td>
                <td>{{room.building}}</td>
                <td>{{room.college}}</td>
                <td>{{room.college}}</td>
                <td><a class='btn btn-secondary btn-sm' href = {% url 'calendarView' room.slug %}><i class="fa-solid fa-calendar-day"></i> Go to Calendar</a></td>
                <td><button class='btn btn-danger btn-sm' data-bs-toggle="modal" data-bs-target="#deletePopup"> Remove </button></td>
              </tr>
              <div class="modal" id="deletePopup" tab-index="-1">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                        <h5>Remove</h5>
                        <button type="button" class="btn btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to remove room '{{room.name}}'?</p>
                    </div>
                    <div class="modal-footer">
                        <!-- link to archive here -->
                        <a class="btn btn-danger" href="#">Delete</a>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fa-solid fa-x"></i> Cancel</button>
                    </div>
                  </div>
                </div>
              </div> 
                
                
                
            {% endfor %}
                <form method = "POST">
                    {% csrf_token %}
                    <div class="modal fade" id="addTermRoom" tab-index="-1">
                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5>Add Rooms</h5>
                                <button type="button" class="btn btn-close" data-bs-dismiss="modal"></button>
                            </div>
                            <div class="modal-body">
                                {{form.college_select | as_crispy_field}}
                                {{form.build_select | as_crispy_field}}
                                <div id="name_cap">
                                  {{form.name | as_crispy_field}}
                                  {{form.capacity | as_crispy_field}}
                                </div>
                            </div>
                            <div class="modal-footer">
                                <!-- link to archive here -->
                                <button class="btn btn-success" type='submit'>Add</button>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fa-solid fa-x"></i> Cancel</button>
                            </div>
                        </div>
                        </div>
                    </div> 
                </form>
            </tbody>
          </table>
       
    </div>
</div>



{% endblock content %}

{% block extrascripts %}
<script>
    $('#id_college_select').change(function() {populateBuild(this)});
    $('#id_build_select').change(function(){
      console.log("success")
      $('#name_cap').css("display","block")});
    //$('#id_description').addClass('descriptions');
    build = {{ form.build | safe }}
    college = {{ form.colleges | safe}};
    console.log(build)
    populateCollege();
    $("#id_build_select").empty();
    $("#id_build_select").append('<option value="" disabled selected>Select college first</option>');
    function populateCollege() {
        $('#id_college_select').empty();
        $("#id_college_select").append('<option value="" disabled selected>Select college</option>');
        $.each(college, function(v) {
            $('#id_college_select')
                .append($("<option></option>")
                .attr("value", college[v])
                .text(college[v]));
        });
    }

    function populateBuild(event) {
        col = $("#id_college_select option:selected").text();
        $("#id_build_select").empty();
        $("#id_build_select").append('<option value="" disabled selected>Select building</option>');
        for (let [c, cbuild] of Object.entries(build)) {
            if (c == col) {
                //alert(b);
                for (build in cbuild) {
                    $('#id_build_select')
                        .append($("<option></option>")
                            .attr("value", cbuild[build])
                            .text(cbuild[build]));
                }
            }
        }
    }
    
</script>
{% endblock extrascripts %}