{% extends 'base.html' %}
{% load static %}
{% block title %}View Rooms{% endblock title %}
{% load crispy_forms_tags %}

{% block extracss %}
<style>
    #name_cap{
      display: none;
    }
 </style>
{% endblock extracss %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb bg-primary">
    <li class="breadcrumb-item"><a href="{% url 'indexPage' %}" class="text-dark">Home</a></li>

    <li class="breadcrumb-item active" aria-current="page">Rooms</li>
  </ol>
</nav>
{% endblock breadcrumb %}

{% block content %}
<!--Modals-->
<div class="modal fade" tabindex="-1" role="dialog" id="modal">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        
      </div>
    </div>
</div>

<div class = "container-xl px-4 pb-2">
    <h2 class="py-4">View Rooms</h2>
    <div class = 'row h-100 '>
        <div class = "col-sm-3 vh-75 " >
            <div class = 'p-3 vh-75 shadow-sm border bg-light'>
                <h5 class='mb-5'>Filter by:</h5>
                <form method = "GET">
                    {{filter.form | crispy}}
                    <button class = "btn btn-info w-100 mt-3" type = 'submit'>Filter</button>
                </form>
            </div>
        </div>
        <div class = "col-sm-9 h-100 ">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Room</th>
                    <th scope="col">Building</th>
                    <th scope="col">College</th>
                    <th scope="col">Capacity</th>
                    <th scope="col">Room Type</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                {% for room in rooms %}
                  <tr>
                    <td>{{room.name}}</td>
                    <td>{{room.building}}</td>
                    <td>{{room.college}}</td>
                    <td>{{room.capacity}}</td>
                    <td>{{room.room_type}}</td>
                    {% if request.user.user_type == 5 or request.user.user_type == none %}
                    <td><a class='btn-success btn-secondary btn-sm' href = "{% url 'manageEquipment' room.slug %}"><i class="fa-solid fa fa-tv"></i></a></td>
                    {% endif %}
                    {% if request.user.user_type != 5 and request.user.user_type != none %}
                    <td><button type="button" data-bs-toggle="modal" class="update bs-modal btn btn-sm btn-warning btn-sm" data-form-url="{% url 'viewEquipment' room.slug %}"><i class="fa-solid fa fa-tv"></i></button></td>
                    {% endif %}
                    <td><a class='btn btn-secondary btn-sm' href = "{% url 'calendarView' room.slug %}"><i class="fa-solid fa-calendar-day"></i> View Schedule</a></td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
        </div>
    </div>
</div>



{% endblock content %}

{% block extrascripts %}
<script>
$(function() {

var $options=$('#id_building option').clone();
$('#id_college').change(function() {
  console.log('yes');$('#id_building').empty();$('#id_building').html( $options.clone());populateBuild(this);
});
$('#id_building').change(function(){
  console.log("success")
  $('#name_cap').css("display","block")
});
populateBuild()
function populateBuild(event) {
    if (!$('#id_college').val()){
        console.log('empty')
         $('#id_building').html( $options.clone());
    }
    else{
        col = $("#id_college option:selected").text();
        {% for college in colleges%}
            if ('{{college}}' == col) {
                //alert(b);
                console.log('true')


                    {% for build in college.building_set.all %}
                        {% for b in building %}
                            if('{{b.college}}'!= '{{build.college}}'){
                                $('#id_building option[value="{{b.id}}"]').remove();
                            }
                        {%endfor%}
                    {% endfor %}
            }
        {% endfor %}
    }

}
var asyncSuccessMessageUpdate = [
  "<div ",
  "style='position:fixed;top:0;z-index:10000;width:100%;border-radius:0;' ",
  "class='alert alert-icon alert-success alert-dismissible fade show mb-0' role='alert'>",
  "Success: Room details were changed.",
  "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>",
  "<span aria-hidden='true'>&times;</span>",
  "</button>",
  "</div>",
  "<script>",
  "$('.alert').fadeTo(2000, 500).slideUp(500, function () {$('.alert').slideUp(500).remove();});",
  "<\/script>"
].join("");


function updateRoomModalForm() {

  $('.update').each(function () {
    $(this).modalForm({
      formURL: $(this).data("form-url"),
      asyncUpdate: true,
      asyncSettings: {
        closeOnSubmit: false,
        successMessage: asyncSuccessMessageUpdate,
        dataUrl: "rooms/",
        dataElementId: "#room-table",
        dataKey: "table",
        addModalFormFunction: reinstantiateModalForms
      }
    });
  });

}
updateRoomModalForm();

function reinstantiateModalForms(){
  updateRoomModalForm();
}
})

</script>
{% endblock extrascripts %}
