{% extends 'base.html' %}
{% load static %}
{% block title %}View Rooms{% endblock title %}
{% load crispy_forms_tags %}

{% block extracss %}
{% endblock extracss %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb mt-3 ms-4 bg-body">
    <li class="breadcrumb-item"><a href="{% url 'indexPage' %}" class="text-dark">Home</a></li>
   
    <li class="breadcrumb-item active" aria-current="page">Rooms</li>
  </ol>
</nav>
{% endblock breadcrumb %}

{% block content %}
<div class = "container-xl px-4 pb-2">
    <h2 class="py-4 px-4" style="text-align:center; font-size:35px; color:#76090C">View Rooms</h2>
    <div class = 'row h-100 '>
        <div class = "col-sm-3 vh-75 " >
                <div class="table-title">
                    <div class="add-title">
                      <i class="fa fa-filter" style="color:white; font-size:20px; padding-top: 10px;"></i>
                      <div class="filter-by montserrat-normal-white-25px">
                        <span class="montserrat-normal-white-25px" style="font-size:20px;">FILTER BY</span>
                    </div></div></div>
                    <div class="table-content" style="margin-top:100px;">
                                <form method = "GET">
                                    <div class="content-list">
                                    <div class="row">
                                        <div class="text-1">
                                    <tr>
                                        <div class="col">
                                        <td>{{filter.form.college | as_crispy_field}}</td>
                                        </div>
                                        <div class="col">
                                        <td>{{filter.form.building | as_crispy_field}}</td>
                                        </div>
                                        <div class="col">
                                        <td>{{filter.form.room_type | as_crispy_field}}</td>
                                        </div>
                                        <div class="col">
                                        <td>{{filter.form.capacity | as_crispy_field}}</td></div>
                                    </tr></div>
                                    <div class="row">
                                        <div class="add-user">
                                    <button class = "btn btn-success" type = 'submit'>Filter</button>
                                </div></div></div></div></div></div>
                                </form>
                    
            </div>
        </div>
            <table class="table">
                <thead style="background-color:#76090C; height: 25px;">
                    <tr style="color:white; font-size: 13px;">
                    <th scope="col">Room</th>
                    <th scope="col">Building</th>
                    <th scope="col">College</th>
                    <th scope="col">Capacity</th>
                    <th scope="col">Room Type</th>
                    <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                {% for room in rooms %}
                  <tr>
                    <td>{{room.name}}</td>
                    <td>{{room.building}}</td>
                    <td>{{room.college}}</td>
                    <td>{{room.capacity}}</td>
                    <td>{{room.room_type}}</td>
                    <td><a class='btn btn-secondary btn-sm' href = {% url 'calendarView' room.slug %}><i class="fa fa-calendar-day"></i> View Schedule</a></td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
        </div>
    </div>



{% endblock content %}

{% block extrascripts %}
<script>
    var $options=$('#id_building option').clone();
    $('#id_college').change(function() {console.log('yes');$('#id_building').empty();$('#id_building').html( $options.clone());populateBuild(this);});
    populateBuild()
    function populateBuild(event) {
        if (!$('#id_college').val()){
            console.log('empty')
             $('#id_building').html( $options.clone());
        }
        else{
            col = $("#id_college option:selected").text();
            {% for college in colleges%}
                if ('{{college}}' == col) {
                    //alert(b);
                    console.log('true')
                    
                       
                        {% for build in college.building_set.all %}   
                            {% for b in building %}
                                if('{{b.college}}'!= '{{build.college}}'){                              
                                    $('#id_building option[value="{{b.id}}"]').remove();
                                }
                            {%endfor%}
                        {% endfor %}
                }
            {% endfor %}    
        }
        
    }
</script>
{% endblock extrascripts %}