{% extends 'base.html' %}
{% load static %}
{% block title %}Term {{term.academicyear}}{% endblock title %}
{% load crispy_forms_tags %}

{% block extracss %}
{% endblock extracss %}
{% block breadcrumb %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb mt-3 ms-4 bg-body">
    <li class="breadcrumb-item"><a href="#" class="text-dark">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'manageTerm' %}" class="text-dark">Manage Term</a></li>
   
    <li class="breadcrumb-item active" aria-current="page">Term {{term.academicyear}}</li>
  </ol>
</nav>
{% endblock breadcrumb %}

{% block content %}
<div class = "container w-auto">
    <h2 class="pt-4">Term {{term.academicyear}}</h2>
    <h5 class="pb-1">{{term.date_start}}-{{term.date_end}}</h5>
    {% if term.isActivated %}
    <h6 class="pb-4">Active</h6>
    {% else %}
    <h6 class="pb-4">Inactive</h6>
    {% endif %}
    <div class = 'row'>
        <div class ="col">
            <form method='POST'>
                {% csrf_token %}
                {% if not term.isActivated %}
                <input class = "btn btn-success ms-4 mb-2" type="submit" value="Activate" name="activate">
                {% elif term.isActivated  %}
                <input class = "btn btn-outline-success ms-4 mb-2" type="submit" value="Deactivate" name="deactivate">
                {% endif %}
            </form>
        </div>
        <div class = 'col align-self-end text-end'>
            
            <button class='btn btn-warning mb-2 mx-4' data-bs-toggle="modal" data-bs-target="#addTermRoom"><i class="fa-solid fa-plus"></i> Add Room</button>
        </div>
    </div>
    <div class="container-fluid overflow-auto">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Room</th>
                <th scope="col">Building</th>
                <th scope="col">College</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
            {% for room in rooms %}
              <tr>
                <td>{{room.name}}</td>
                <td>{{room.building}}</td>
                <td>{{room.college}}</td>
                <td><button class='btn btn-danger btn-sm' data-bs-toggle="modal" data-bs-target="#deletePopup"> Remove</td>
              </tr>
              <div class="modal" id="deletePopup" tab-index="-1">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                        <h5>Delete User</h5>
                        <button type="button" class="btn btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to delete user '{{user.username}}'?</p>
                    </div>
                    <div class="modal-footer">
                        <!-- link to archive here -->
                        <a class="btn btn-danger" href="#">Delete</a>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fa-solid fa-x"></i> Cancel</button>
                    </div>
                  </div>
                </div>
              </div> 
                
                
                
            {% endfor %}
                <form method = "POST">
                    {% csrf_token %}
                    <div class="modal fade" id="addTermRoom" tab-index="-1">
                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5>Add Rooms to Term</h5>
                                <button type="button" class="btn btn-close" data-bs-dismiss="modal"></button>
                            </div>
                            <div class="modal-body">
                                {% for rm in rms %}
                                <div class = 'col'>
                                    <input  class="form-check-input ms-1" type="checkbox" name="rooms" value="{{rm.slug}}">
                                    <label  class="form-check-label ms-4">{{rm}}</label>
                                </div>
                                {%empty%}
                                 <p>There are no more rooms available</p>
                                {% endfor %}
                            </div>
                            <div class="modal-footer">
                                <!-- link to archive here -->
                                <button class="btn btn-success" type='submit'>Add</button>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fa-solid fa-x"></i> Cancel</button>
                            </div>
                        </div>
                        </div>
                    </div> 
                </form>
            </tbody>
          </table>
       
    </div>
</div>



{% endblock content %}

{% block extrascripts %}
{% endblock extrascripts %}