{% extends 'base.html' %}
{% load static %}
{% block title %}Manage Terms{% endblock title %}
{% load crispy_forms_tags %}

{% block extracss %}
{% endblock extracss %}
{% block breadcrumb %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb mt-3 ms-4 bg-body">
    <li class="breadcrumb-item"><a href="{% url 'indexPage' %}" class="text-dark">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Manage Terms</li>
  </ol>
</nav>
{% endblock breadcrumb %}

{% block content %}
<div class = "container-fluid">
    <h2 class="py-4 px-4">Manage Term</h2>
    <div class = 'text-right'>
      <a class='btn btn-warning mb-4 mx-4' role='button' href = "{% url 'addTerm' %}"><i class="fa-solid fa-plus"></i> Add Term</a>
    </div>

    {% for term in terms %}
    <div class="row border bg-white p-3 mb-3">

        <div class="col align-self-center">
            <a href="{% url 'termView' term.slug %}"><h5>Term {{term.academicyear}}</h5></a>
        </div>

        <div class="col-auto align-self-center text-end ">
            {%if term.isActivated %}
            <h5><span class="badge bg-primary text-wrap">
                Active
            </span></h5>
            {%else%}
            <h5><span class="badge bg-secondary text-wrap">
                Inactive
            </span></h5>
            {%endif%}
        </div>

        <div class="col-auto align-self-end text-end pe-5 pb-1">
            <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#removePopup{{term.id}}"><i class="fa-solid fa-close"></i> Remove</button>
        </div>
    </div>

      <!-- popup for removal -->
      <div class="modal fade" id="removePopup{{term.id}}" tab-index="-1">
          <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                  <div class="modal-header">
                      <h5>Remove Term</h5>
                      <button type="button" class="btn btn-close" data-bs-dismiss="modal"></button>
                  </div>
                  <div class="modal-body">
                      <p>Are you sure you want to remove this term?</p>
                  </div>
                  <div class="modal-footer">
                      <a class="btn btn-danger" href="{% url 'removeTerm' term.slug %}"><i class="fa-solid fa-close"></i> Remove</a>
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fa-solid fa-x"></i> Cancel</button>
                  </div>
              </div>
          </div>
      </div>
      {%endfor%}

</div>



{% endblock content %}

{% block extrascripts %}
{% endblock extrascripts %}