{% extends 'base.html' %}
{% load static %}
{% block title %}{% endblock title %}
{% load crispy_forms_tags %}

{% block extracss %}
<style>
  .spinner-border{
    display:none;
  }
  #alert{
    display:none;
  }
</style>
{% endblock extracss %}
{% block breadcrumb %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb mt-3 ms-4 bg-body">
      <li class="breadcrumb-item"><a href="#" class="text-dark">Home</a></li>
     
      <li class="breadcrumb-item active" aria-current="page">Upload</li>
    </ol>
  </nav>
{% endblock breadcrumb %}

{% block content %}
<div id="alert" class="alert alert-success" role="alert">
  <button type='button' class='close' data-dismiss='alert' aria-label='Close'>
  <span aria-hidden='true'>&times;</span></button>
</div>
<div class = "container w-auto">
  <h2 class="py-4">Upload Schedule</h2>
    <form method='POST' enctype="multipart/form-data" id="upload">
        {% csrf_token %}

        <div class ='col-3'>
        {{ form.term | as_crispy_field }}
        {{ form.file }}
        </div>

        <div class ='col-8'>
          <p class = 'text-black-50 mt-2'> *Upload a csv file. 
          <br>The labels for the columns should start in the 8th row.
          <br> The columns should be as follows: Class Number, Course Title, Subject, Catalog, Section, Component, Schedule, Room, Class Capacity, and Restrictions*</p>
        </div>

        <div class = 'row'>
          <div class = 'col mt-4 ms-3'>
            <button class='btn btn-success' type = 'submit'>Upload</button>
          </div>
          <div class = 'col'>
            <div class="spinner-border" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>
          <p id='error' class='text-danger ms-3'></p>
        </div>
        
        
        
    </form>
</div>



{% endblock content %}

{% block extrascripts %}
<script>
$(document).ready(function(){
  $("#upload").submit(function (e) {
    $('.spinner-border').show();
    e.preventDefault();
    var data = new FormData();
    data.append('term',$('#id_term option:selected').val());
    data.append('file',$('#id_file').prop('files')[0]);
    $.ajax({
      method: 'post',
      processData: false,
      contentType: false,
      cache: false,
      data: data,
      enctype: 'multipart/form-data',
      success: function (response) {
        $('.spinner-border').fadeOut()
       
          $('#alert').html(
            "Schedules have been uploaded.");
            $('#alert').fadeIn(); //or fadeIn
            setTimeout(function() {
            $("#alert").fadeOut(); //or fadeOut
          }, 10000);
      },
      error: function (response){
        console.log("error")
      }
    }); 
    return false; //<---- move it here
  });
 
})

</script>
{% endblock extrascripts %}