{% extends 'base.html' %}
{% load static %}
{% block title %}{% endblock title %}
{% load crispy_forms_tags %}

{% block extracss %}
{% endblock extracss %}
{% block breadcrumb %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb mt-3 ms-4 bg-body">
      <li class="breadcrumb-item"><a href="#" class="text-dark">Home</a></li>
     
      <li class="breadcrumb-item active" aria-current="page">Upload</li>
    </ol>
  </nav>
{% endblock breadcrumb %}

{% block content %}
<div class = "container w-auto">
    <form method='POST' enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button class='btn btn-success' type = 'submit'>Upload</button>
    </form>
</div>



{% endblock content %}

{% block extrascripts %}
{% endblock extrascripts %}