<div class="modal-content"  style="border-radius:10px">
    <div class="modal-header"  style="background: #76090C;">
    <h5 class="modal-title ms-1" id="exampleModalLabel" style="color:white"><i class="fa-solid fa-computer"></i>  {{room.name}} Equipments</h5>
</div>

<div class="modal-body">
    {% for item in room.equipment.all %}
    {{item.name}}
    <br>
    {% endfor %}
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"style=" background-color: #868686;"><i class="fa-solid fa-xmark"></i>    Close</button>
</div>
</div>
