{% load static %}
<div class="modal-header">
    <h5 class="modal-title ms-1" id="exampleModalLabel">List of available equipment in {{room.name}}</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>

<div class="modal-body">
    <h4>test</h4>
    {% for item in room.equipment.all %}
    {{item.name}}
    <br>
    {% endfor %}
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
</div>
