{% load static %}
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">List of Available Equipment in {{room.name}}</h5>
                <button type="button" class="btn btn-close m-0" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body" style="text-align: center; margin: auto;">
                {% if room.equipment.all.count == 0 %}
                    <h4>No equipment available in this room</h4>
                {% endif %}
                {% if room.equipment.all.count != 0 %}
                    {% for item in room.equipment.all %}
                    {{item.name}}
                    <br>
                    {% endfor %}
                {% endif %}

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
